In [1]:
import pandas as pd
import numpy as np

In [19]:
#Data frame: mảng 2 chiều có gắn nhãn(đối tượng chính của môn học)
'''
Gồm nhiều Series cũng chung label ghép lại với nhau
'''
pkm = pd.read_csv('pokemon_data.csv', index_col= 0) 
pkm.head(10)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [38]:
pd.DataFrame({'ID' : [1 , 2, 3],'Product' : ['Apple', 'Banana', 'Cherry'], 'Price' : [10, 9, 8]}) #không chỉ ra index vs column tự sinh ra

   ID Product  Price
0   1   Apple     10
1   2  Banana      9
2   3  Cherry      8

In [ ]:
pd.DataFrame(data, index, columns)

In [39]:
#list của list
ll = [
    ['apple', 10],
    ['banana', 25],
    ['cherry', 40]
]
pd.DataFrame(ll)

        0   1
0   apple  10
1  banana  25
2  cherry  40

In [40]:
pd.DataFrame(data = ll, index= ['a', 'b' ,'c'], columns= ['name', 'price'])

     name  price
a   apple     10
b  banana     25
c  cherry     40

In [41]:
ll1 = [
    ['apple', 10, 5],
    ['banana', 25],
    ['cherry', 40]
]
pd.DataFrame(ll1)

        0   1    2
0   apple  10  5.0
1  banana  25  NaN
2  cherry  40  NaN

In [42]:
#dictionary: 
'''phải có độ dài phần tử bằng nhau'''
d1 = {
    'col1' : ['apple', 'banana'],
    'col2' : [1, 2],
    'col3' : ['2019-10-02', '2019-11-01']
}
pd.DataFrame(d1)

     col1  col2        col3
0   apple     1  2019-10-02
1  banana     2  2019-11-01

In [43]:
d2 = {
    'col1' : ['apple', 'banana', 'cherry'],
    'col2' : [1, 2],
    'col3' : ['2019-10-02', '2019-11-01']
}
pd.DataFrame(d2)

ValueError: arrays must all be same length

In [44]:
#tạo list mà mỗi phần tử là một dictionary
ld = [
    {'date' : '2019-10-01', 'Ticker' : 'AAA', 'Close' : 100},
    {'date' : '2019-10-01', 'Ticker' : 'BBB', 'Close' : 200}
]
pd.DataFrame(ld)

   Close Ticker        date
0    100    AAA  2019-10-01
1    200    BBB  2019-10-01

In [45]:
ld2 = [
    {'date' : '2019-10-01', 'Ticker' : 'AAA', 'Close' : 100},
    {'date' : '2019-10-01', 'Ticker' : 'BBB', 'open' : 205, 'Close' : 200}
]
pd.DataFrame(ld2)

   Close Ticker        date   open
0    100    AAA  2019-10-01    NaN
1    200    BBB  2019-10-01  205.0

In [46]:
pd.DataFrame(columns= ['a', 'b', 'c']).empty

True

In [47]:
pd.DataFrame(index= ['a', 'b', 'c']).empty

True

In [48]:
pd.DataFrame(columns= ['a', 'b', 'c'], index= ['a', 'b', 'c']).empty

False

In [49]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [24]:
#dataframe mẫu:
Dict_ex = {
    'Date' : pd.date_range(start = '2019-11-20', periods = 10, freq = 'D'),
    'Name' : np.random.choice(['apple', 'banana', 'cherry'], size = 10),
    'Số lượng' : np.random.randint(100, size = 10)
}
DF_ex = pd.DataFrame(Dict_ex, index= list('abcdefghij'))
DF_ex

        Date    Name  Số lượng
a 2019-11-20  cherry        77
b 2019-11-21   apple        23
c 2019-11-22  cherry        22
d 2019-11-23  banana        79
e 2019-11-24   apple        72
f 2019-11-25  banana        90
g 2019-11-26  cherry        45
h 2019-11-27   apple        78
i 2019-11-28   apple        21
j 2019-11-29  banana        92

In [52]:
''' 
Một số thuộc tính cơ bản:
.size: trả về số lượng phần tử dataframe
.shape: trả về kích thước dataframe cới định dạng(cột, hàng)
.ndim trả về số chiều của dataframe. vì dataframe là mảng 2 chiều, nên kết quả trả về luôn là 2
.empty: trả về True or False nếu dataframe là rỗng
.dtypes: trả về kiểu dữ liệu từng cột
.columns: trả về danh sách các cột của dataframe
.index: trả về index
.axes: kết hợp columns and index: trả về 1 list với dòng trước cột sau
'''

' \nMột số thuộc tính cơ bản:\n.size: trả về số lượng phần tử dataframe\n.shape: trả về kích thước dataframe cới định dạng(cột, hàng)\n.ndim trả về số chiều của dataframe. vì dataframe là mảng 2 chiều, nên kết quả trả về luôn là 2\n.empty: trả về True or False nếu dataframe là rỗng\n.dtypes: trả về kiểu dữ liệu từng cột\n.columns: trả về danh sách các cột của dataframe\n.index: trả về index\n.axes: kết hợp columns and index: trả về 1 list với dòng trước cột sau\n'

In [ ]:
#đổi tên:
method: .rename()
<tên_DF>.rename(index = {<tên_dòng_cũ> : <tên_dòng_mới>})

In [53]:
#Ex đổi col1 thành date
DF_ex.rename(columns= {'col1' : 'date'})
'''nếu không có inplace = True thì rename sẽ tạo df mới chứ không đối tên trong df cũ'''
DF_ex = DF_ex.rename(columns= {'col1' : 'date'})
#hoặc
DF_ex.rename(columns= {'col1' : 'date'}, inplace = True)

        date    col2  col3
a 2019-11-20   apple    89
b 2019-11-21  cherry     9
c 2019-11-22  banana    67
d 2019-11-23  cherry    43
e 2019-11-24  banana    98
f 2019-11-25  cherry    47
g 2019-11-26   apple    50
h 2019-11-27   apple    65
i 2019-11-28  cherry    83
j 2019-11-29   apple    19

In [ ]:
#đổi tên nhanh hàng loạt
<tên_DF>.columns = <Danh_sách_tên_cột_mới>
<tên_DF>.index = <Danh_sách_tên_dòng_mới>

In [56]:
DF_ex2 = DF_ex.copy() # nếu không .copy mà gán bằng thì khi đổi ex2 thì ex cũng có thể bị đổi
DF_ex2.columns = ['Date', 'Product', 'Quantity']
DF_ex2

        Date Product  Quantity
a 2019-11-20   apple        89
b 2019-11-21  cherry         9
c 2019-11-22  banana        67
d 2019-11-23  cherry        43
e 2019-11-24  banana        98
f 2019-11-25  cherry        47
g 2019-11-26   apple        50
h 2019-11-27   apple        65
i 2019-11-28  cherry        83
j 2019-11-29   apple        19

In [57]:
#Trích xuất dữ liệu theo cột
#trích xuất 1 cột
DF_ex['col1'] # DF_ex.col1

a   2019-11-20
b   2019-11-21
c   2019-11-22
d   2019-11-23
e   2019-11-24
f   2019-11-25
g   2019-11-26
h   2019-11-27
i   2019-11-28
j   2019-11-29
Name: col1, dtype: datetime64[ns]

In [62]:
type(DF_ex['col1'])

pandas.core.series.Series

In [63]:
#tích xuất nhiều cột
DF_ex[['col1', 'col2']]

        col1    col2
a 2019-11-20   apple
b 2019-11-21  cherry
c 2019-11-22  banana
d 2019-11-23  cherry
e 2019-11-24  banana
f 2019-11-25  cherry
g 2019-11-26   apple
h 2019-11-27   apple
i 2019-11-28  cherry
j 2019-11-29   apple

In [65]:
type(DF_ex[['col1']])

pandas.core.frame.DataFrame

In [67]:
#note:
print(DF_ex['col1'].ndim) #Series
print(DF_ex[['col1']].ndim) #DataFrame

1
2

In [ ]:
#trích xuất dữ liệu theo dòng:
DF_ex['a'] #lỗi cách này dùng trích xuất cột nên không thể trích xuất dòng
Method: .loc and . iloc
.loc[]: lấy dòng theo label
.iloc[]: lấy dữ liệu theo số thứ tự bắt đầu từ 0

In [70]:
#ex:
DF_ex.loc['a'] #Series

col1    2019-11-20 00:00:00
col2                  apple
col3                     89
Name: a, dtype: object

In [71]:
DF_ex.iloc[2] #Series

col1    2019-11-22 00:00:00
col2                 banana
col3                     67
Name: c, dtype: object

In [76]:
#trích xuất nhiều dòng:
DF_ex.loc[['a', 'c']] #DataFrame

        col1    col2  col3
a 2019-11-20   apple    89
c 2019-11-22  banana    67

In [77]:
DF_ex.iloc[0: 10 : 3] #DataFrame [vị trí bắt đầu : vị trí kết thúc : step]

        col1    col2  col3
a 2019-11-20   apple    89
d 2019-11-23  cherry    43
g 2019-11-26   apple    50
j 2019-11-29   apple    19

In [ ]:
#Trích xuất theo cả dòng lẫn cột
method: .loc
<tên_df>.loc[<dòng_cần_lấy>, <cột cần lấy>]
tương tự .iloc[]

In [96]:
DF_ex.loc[['a', 'c'], ['col2', 'col3']]
DF_ex.loc[ :, ['col2', 'col3']]

     col2  col3
a   apple    89
b  cherry     9
c  banana    67
d  cherry    43
e  banana    98
f  cherry    47
g   apple    50
h   apple    65
i  cherry    83
j   apple    19

In [98]:
DF_ex.iloc[[0 , 5], [1, 2]]
DF_ex.iloc[ :, [1, 2]]

     col2  col3
a   apple    89
b  cherry     9
c  banana    67
d  cherry    43
e  banana    98
f  cherry    47
g   apple    50
h   apple    65
i  cherry    83
j   apple    19

In [ ]:
trích xuất có điều kiện
<tên_df>[điều_kiện]

In [99]:
DF_ex[DF_ex.col2 == 'apple'] #điều kiện đơn

        col1   col2  col3
a 2019-11-20  apple    89
g 2019-11-26  apple    50
h 2019-11-27  apple    65
j 2019-11-29  apple    19

In [ ]:
#điều kiện kép
&: and
|: or
và điều kiện phải trong ngoặc

In [100]:
DF_ex[(DF_ex.col2 == 'apple') & ((DF_ex.col1 == '2019-11-20') | (DF_ex.col2 == 'banana'))]

        col1   col2  col3
a 2019-11-20  apple    89

In [4]:
df1 = pd.read_csv('Study/Week1/pokemon_data.csv', index_col =0)
df1.reset_index(inplace = True)

In [3]:
#Thay đổi index <dataframe>.index = <index mới>
df2 = pd.DataFrame([['apple', 10],
    ['banana', 25],
    ['cherry', 40]])
df2

        0   1
0   apple  10
1  banana  25
2  cherry  40

In [ ]:
#đặt một cột thành index: .set_index()
df2.set_index()
#đặt lại index: .reset_index()
df2.reset_index()
#tham số drop báo có giữ lại index cũ hay không nếu False thì tạo index là 1 cột mới giữ index cũ, True xoá index cũ đi thay bằng index mới
#sắp xếp lại theo thứ tự index: .sort_index()
df1.sort_index(ascending=) #ascending= False sắp xếp giảm dần
#biến đổi dataframe bằng .reindex(): Toạ ra df mới có cấu trúc: tên dòng đi theo thứ tự được chỉ ra, tên cột đi theo thứ tự được chỉ ra, giá trị tương ứng trong df gốc nếu không có thì dùng giá trị Null(NaN)

In [5]:
df1.reindex(columns= ['HP', 'Name'], index= [1, 2, 3])

   HP                   Name
1  60                Ivysaur
2  80               Venusaur
3  80  VenusaurMega Venusaur

In [8]:
pd.concat([DF_ex, df2], join = 'inner')

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h, i, j, 0, 1, 2]

In [16]:
#kết hợp data bằng merge
df4 = pd.DataFrame({'date' : ['2019-10-25', '2019-10-26', '2019-10-27'],
'Name' : ['apple', 'banana', 'cherry'],
'đã mua' : [39, 52, 17]})
df4

         date    Name  đã mua
0  2019-10-25   apple      39
1  2019-10-26  banana      52
2  2019-10-27  cherry      17

In [18]:
df5 = pd.DataFrame({'Name' : ['apple', 'banana', 'cherry'],
'price' : [10 , 15 , 20]})
df5

     Name  price
0   apple     10
1  banana     15
2  cherry     20

In [26]:
DF_ex

        Date    Name  Số lượng
a 2019-11-20  cherry        77
b 2019-11-21   apple        23
c 2019-11-22  cherry        22
d 2019-11-23  banana        79
e 2019-11-24   apple        72
f 2019-11-25  banana        90
g 2019-11-26  cherry        45
h 2019-11-27   apple        78
i 2019-11-28   apple        21
j 2019-11-29  banana        92

In [29]:
pd.merge(DF_ex, df5)

        Date    Name  Số lượng  price
0 2019-11-20  cherry        77     20
1 2019-11-22  cherry        22     20
2 2019-11-26  cherry        45     20
3 2019-11-21   apple        23     10
4 2019-11-24   apple        72     10
5 2019-11-27   apple        78     10
6 2019-11-28   apple        21     10
7 2019-11-23  banana        79     15
8 2019-11-25  banana        90     15
9 2019-11-29  banana        92     15

In [2]:
#Chuyển đổi kiểu dữ liệu trong dataframe
df = pd.read_csv('pokemon_data.csv', index_col = 0).reset_index(drop = True)
df.index.name = '#'
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [ ]:
#chuyển đổi thành thời gian .to_datetime()
#dùng accessor .dt để dùng cho các phương thức của kiểu dữ liệu thời gian
df.Date.dt.strftime('%d/%m/%y') #df.Date là Series

In [3]:
#to_numberic không được có kí tự khác số, dùng accessor df.Close.str.replace('chuổi cần chuyển đồi', 'chuyển muốn chuyển đổi')
#dùng assign để thêm vô df
df = pd.read_csv('https://raw.githubusercontent.com/Levytan/MIS.2019/master/Data/vnm.csv', header = None)
df.columns = ['Date', 'Close', 'Volume', 'PercentChange']
df

          Date   Close   Volume PercentChange
0   2018-06-01  136.1k  1051610            ?%
1   2018-06-04  141.6k   965230         4.04%
2   2018-06-05  144.4k   879160         1.98%
3   2018-06-06  142.8k   463720        -1.11%
4   2018-06-07  144.7k   401900         1.33%
5   2018-06-08  144.4k   505520        -0.21%
6   2018-06-11  147.0k   721050          1.8%
7   2018-06-12  147.7k   873690         0.48%
8   2018-06-13  147.7k   472470          0.0%
9   2018-06-14  146.9k   767750        -0.54%
10  2018-06-15  146.9k  1114730          0.0%

In [4]:
df = df.assign(PercentChange = df.PercentChange.str.replace('%', ''))
df = df.assign(PercentChange = pd.to_numeric(df.PercentChange, errors = 'coerce'))
df

          Date   Close   Volume  PercentChange
0   2018-06-01  136.1k  1051610            NaN
1   2018-06-04  141.6k   965230           4.04
2   2018-06-05  144.4k   879160           1.98
3   2018-06-06  142.8k   463720          -1.11
4   2018-06-07  144.7k   401900           1.33
5   2018-06-08  144.4k   505520          -0.21
6   2018-06-11  147.0k   721050           1.80
7   2018-06-12  147.7k   873690           0.48
8   2018-06-13  147.7k   472470           0.00
9   2018-06-14  146.9k   767750          -0.54
10  2018-06-15  146.9k  1114730           0.00

In [5]:
df = df.assign(Date = pd.to_datetime(df.Date))
df = df.assign(Date = df.Date.dt.strftime('%d/%m/%y'))
df

        Date   Close   Volume  PercentChange
0   01/06/18  136.1k  1051610            NaN
1   04/06/18  141.6k   965230           4.04
2   05/06/18  144.4k   879160           1.98
3   06/06/18  142.8k   463720          -1.11
4   07/06/18  144.7k   401900           1.33
5   08/06/18  144.4k   505520          -0.21
6   11/06/18  147.0k   721050           1.80
7   12/06/18  147.7k   873690           0.48
8   13/06/18  147.7k   472470           0.00
9   14/06/18  146.9k   767750          -0.54
10  15/06/18  146.9k  1114730           0.00

In [6]:
df[df.PercentChange != df.PercentChange]

       Date   Close   Volume  PercentChange
0  01/06/18  136.1k  1051610            NaN

In [7]:
Columns = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'type']
iris = pd.read_csv("https://raw.githubusercontent.com/Levytan/MIS.2019/master/Data/iris.csv", header = None)
iris.columns = Columns
iris

     sepal-length  sepal-width  petal-length  petal-width            type
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
9             4.9          3.1           1.5          0.1     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
11            4.8          3.4           1.6          0.2     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
15            5.7          4.4           1.5          0.4     Iris-setosa
16            5.4          3.9           1.3          0.4     Iris-setosa
17            5.1          3.5           1.4          0.3     Iris-setosa
18            5.7          3.8           1.7          0.3     Iris-setosa
19            5.1          3.8           1.5          0.3     Iris-setosa
20            5.4          3.4           1.7          0.2     Iris-setosa
21            5.1          3.7           1.5          0.4     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa
23            5.1          3.3           1.7          0.5     Iris-setosa
24            4.8          3.4           1.9          0.2     Iris-setosa
25            5.0          3.0           1.6          0.2     Iris-setosa
26            5.0          3.4           1.6          0.4     Iris-setosa
27            5.2          3.5           1.5          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
29            4.7          3.2           1.6          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
iris['sepal-length'].value_counts()

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: sepal-length, dtype: int64

In [9]:
iris['sepal-length'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [13]:
df2 = pd.Categorical(iris.type)
df2

[Iris-setosa, Iris-setosa, Iris-setosa, Iris-setosa, Iris-setosa, ..., Iris-virginica, Iris-virginica, Iris-virginica, Iris-virginica, Iris-virginica]
Length: 150
Categories (3, object): [Iris-setosa, Iris-versicolor, Iris-virginica]

In [12]:
df2.dtype

CategoricalDtype(categories=['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], ordered=False)

In [18]:
iris_2 = iris.assign(type = pd.Categorical(iris.type))
iris_2

     sepal-length  sepal-width  petal-length  petal-width            type
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
9             4.9          3.1           1.5          0.1     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
11            4.8          3.4           1.6          0.2     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
15            5.7          4.4           1.5          0.4     Iris-setosa
16            5.4          3.9           1.3          0.4     Iris-setosa
17            5.1          3.5           1.4          0.3     Iris-setosa
18            5.7          3.8           1.7          0.3     Iris-setosa
19            5.1          3.8           1.5          0.3     Iris-setosa
20            5.4          3.4           1.7          0.2     Iris-setosa
21            5.1          3.7           1.5          0.4     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa
23            5.1          3.3           1.7          0.5     Iris-setosa
24            4.8          3.4           1.9          0.2     Iris-setosa
25            5.0          3.0           1.6          0.2     Iris-setosa
26            5.0          3.4           1.6          0.4     Iris-setosa
27            5.2          3.5           1.5          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
29            4.7          3.2           1.6          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [19]:
iris_2 = iris_2.assign(type = iris_2.type.cat.codes)
iris_2

     sepal-length  sepal-width  petal-length  petal-width  type
0             5.1          3.5           1.4          0.2     0
1             4.9          3.0           1.4          0.2     0
2             4.7          3.2           1.3          0.2     0
3             4.6          3.1           1.5          0.2     0
4             5.0          3.6           1.4          0.2     0
5             5.4          3.9           1.7          0.4     0
6             4.6          3.4           1.4          0.3     0
7             5.0          3.4           1.5          0.2     0
8             4.4          2.9           1.4          0.2     0
9             4.9          3.1           1.5          0.1     0
10            5.4          3.7           1.5          0.2     0
11            4.8          3.4           1.6          0.2     0
12            4.8          3.0           1.4          0.1     0
13            4.3          3.0           1.1          0.1     0
14            5.8          4.0           1.2          0.2     0
15            5.7          4.4           1.5          0.4     0
16            5.4          3.9           1.3          0.4     0
17            5.1          3.5           1.4          0.3     0
18            5.7          3.8           1.7          0.3     0
19            5.1          3.8           1.5          0.3     0
20            5.4          3.4           1.7          0.2     0
21            5.1          3.7           1.5          0.4     0
22            4.6          3.6           1.0          0.2     0
23            5.1          3.3           1.7          0.5     0
24            4.8          3.4           1.9          0.2     0
25            5.0          3.0           1.6          0.2     0
26            5.0          3.4           1.6          0.4     0
27            5.2          3.5           1.5          0.2     0
28            5.2          3.4           1.4          0.2     0
29            4.7          3.2           1.6          0.2     0
..            ...          ...           ...          ...   ...
120           6.9          3.2           5.7          2.3     2
121           5.6          2.8           4.9          2.0     2
122           7.7          2.8           6.7          2.0     2
123           6.3          2.7           4.9          1.8     2
124           6.7          3.3           5.7          2.1     2
125           7.2          3.2           6.0          1.8     2
126           6.2          2.8           4.8          1.8     2
127           6.1          3.0           4.9          1.8     2
128           6.4          2.8           5.6          2.1     2
129           7.2          3.0           5.8          1.6     2
130           7.4          2.8           6.1          1.9     2
131           7.9          3.8           6.4          2.0     2
132           6.4          2.8           5.6          2.2     2
133           6.3          2.8           5.1          1.5     2
134           6.1          2.6           5.6          1.4     2
135           7.7          3.0           6.1          2.3     2
136           6.3          3.4           5.6          2.4     2
137           6.4          3.1           5.5          1.8     2
138           6.0          3.0           4.8          1.8     2
139           6.9          3.1           5.4          2.1     2
140           6.7          3.1           5.6          2.4     2
141           6.9          3.1           5.1          2.3     2
142           5.8          2.7           5.1          1.9     2
143           6.8          3.2           5.9          2.3     2
144           6.7          3.3           5.7          2.5     2
145           6.7          3.0           5.2          2.3     2
146           6.3          2.5           5.0          1.9     2
147           6.5          3.0           5.2          2.0     2
148           6.2          3.4           5.4          2.3     2
149           5.9          3.0           5.1          1.8     2

[150 rows x 5 columns]

In [43]:
#khám phá dữ liệu
champs = pd.read_csv('https://raw.githubusercontent.com/Levytan/MIS.2019/master/Data/lol_champions.csv', sep = ';', decimal = ',')
champs.head()
champs = champs.assign(release_date = pd.to_datetime(champs.release_date))

In [9]:
s = pd.Series([1, 2, 3, float('nan')])

s.describe() #thống kê mô tả tự động bỏ qua giá trị NaN
# đối với Series mặc định thực hiện trên từng cột

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

In [10]:
champs.mean() #cột nào trả về được mean thì mới tính

attack_at_lv1       59.351257
attack_at_lv18     114.291781
health_at_lv1      556.412603
health_at_lv18    2059.282877
dtype: float64

In [16]:
champs.max(numeric_only =True) #nếu không có tham số thì lấy cả những cột có chữ

attack_at_lv1       70.00
attack_at_lv18     153.00
health_at_lv1      625.64
health_at_lv18    2466.00
dtype: float64

In [14]:
champs.describe()

       attack_at_lv1  attack_at_lv18  health_at_lv1  health_at_lv18
count     146.000000      146.000000     146.000000      146.000000
mean       59.351257      114.291781     556.412603     2059.282877
std         6.204104       14.653974      35.273908      135.510481
min        40.368000       50.000000     400.000000     1420.000000
25%        54.953425      105.850000     533.100000     2013.500000
50%        60.000000      114.250000     563.240000     2055.100000
75%        64.000000      121.725000     582.180000     2123.000000
max        70.000000      153.000000     625.640000     2466.000000

In [ ]:
# tính theo dóng thêm tham số axis = 'columns' or axis = 1

In [20]:
pkm.mean(axis = 1)

#
1      39.875
2      50.750
3      65.750
3      78.250
4      38.750
5      50.750
6      66.875
6      79.375
6      79.375
7      39.375
8      50.750
9      66.375
9      78.875
10     24.500
11     25.750
12     49.500
13     24.500
14     25.750
15     49.500
15     62.000
16     31.500
17     43.750
18     60.000
18     72.500
19     31.750
20     51.750
21     32.875
22     55.375
23     36.125
24     54.875
        ...
700    66.375
701    63.250
702    54.625
703    63.250
704    38.250
705    57.250
706    75.750
707    59.500
708    39.375
709    60.000
710    42.625
710    42.625
710    42.625
710    42.625
711    62.500
711    62.500
711    62.500
711    62.500
712    38.750
713    65.000
714    31.375
715    67.625
716    85.875
717    85.875
718    75.875
719    75.875
719    88.375
720    75.875
720    85.875
721    75.875
Length: 800, dtype: float64

In [21]:
pkm.mean()

HP            69.25875
Attack        79.00125
Defense       73.84250
Sp. Atk       72.82000
Sp. Def       71.90250
Speed         68.27750
Generation     3.32375
Legendary      0.08125
dtype: float64

In [67]:
# hàm tự định nghĩa (tự viết bằng def hoặc có sẳn)

def health_per_lv(x):
    return (x.health_at_lv18 - x.health_at_lv1) / 17

champs = champs.assign(health_per_lv = champs.apply(health_per_lv, axis= 'columns'))

In [31]:
champs.champion.apply(len)
#áp dụng phương thức trong ngoặc cho từng phần tử trong Series đó

0       6
1       4
2       5
3       7
4       5
5       6
6       5
7       4
8      12
9       4
10      4
11     10
12      5
13      5
14      7
15      7
16     10
17      8
18      5
19      6
20      5
21      9
22      6
23      4
24      5
25      7
26      6
27     12
28      5
29      4
       ..
116     6
117     8
118     7
119    10
120    12
121     6
122     4
123     5
124     5
125     5
126     6
127     7
128     2
129     6
130     8
131     8
132     7
133     6
134     5
135     6
136     8
137     5
138     6
139     5
140     3
141     3
142     5
143     6
144     3
145     4
Name: champion, Length: 146, dtype: int64

In [75]:
champs = champs.assign(release_date = pd.to_datetime(champs.release_date))

def get_year(_):
    return _.year

def to_str(_):
    return str(_)

champs.release_date.apply(get_year)
champs.release_date.apply(to_str)

0      2013-06-13 00:00:00
1      2011-12-14 00:00:00
2      2010-05-11 00:00:00
3      2009-02-21 00:00:00
4      2009-06-26 00:00:00
5      2009-07-10 00:00:00
6      2009-02-21 00:00:00
7      2009-02-21 00:00:00
8      2016-03-24 00:00:00
9      2014-09-16 00:00:00
10     2015-03-12 00:00:00
11     2009-09-02 00:00:00
12     2011-04-12 00:00:00
13     2014-05-12 00:00:00
14     2011-01-04 00:00:00
15     2016-12-07 00:00:00
16     2010-12-14 00:00:00
17     2009-06-26 00:00:00
18     2009-09-19 00:00:00
19     2012-05-23 00:00:00
20     2012-08-07 00:00:00
21     2009-09-02 00:00:00
22     2012-06-06 00:00:00
23     2015-05-29 00:00:00
24     2012-10-26 00:00:00
25     2009-05-01 00:00:00
26     2010-03-16 00:00:00
27     2009-02-21 00:00:00
28     2012-02-29 00:00:00
29     2011-11-15 00:00:00
              ...
116    2013-01-23 00:00:00
117    2009-02-21 00:00:00
118    2010-12-01 00:00:00
119    2009-05-01 00:00:00
120    2009-02-21 00:00:00
121    2009-05-01 00:00:00
122    2009-12-02 00:00:00
123    2010-08-24 00:00:00
124    2012-05-08 00:00:00
125    2011-05-10 00:00:00
126    2009-07-24 00:00:00
127    2014-02-27 00:00:00
128    2012-12-19 00:00:00
129    2011-12-29 00:00:00
130    2010-07-27 00:00:00
131    2011-11-29 00:00:00
132    2009-02-21 00:00:00
133    2011-07-26 00:00:00
134    2017-04-19 00:00:00
135    2011-10-05 00:00:00
136    2010-07-13 00:00:00
137    2013-12-13 00:00:00
138    2011-06-22 00:00:00
139    2019-05-14 00:00:00
140    2013-03-29 00:00:00
141    2012-11-13 00:00:00
142    2012-02-01 00:00:00
143    2009-04-18 00:00:00
144    2017-11-21 00:00:00
145    2012-07-24 00:00:00
Name: release_date, Length: 146, dtype: object

In [52]:
champs[champs.primary.isin(['Assassin'])].health_at_lv1.mean()

584.3866666666667

In [53]:
champs.loc[champs.primary == 'Assassin', 'health_at_lv1'].mean()

584.3866666666667

In [56]:
prim = list(champs.primary.unique())
for p in prim:
    _ = champs.loc[champs.primary == p, 'health_at_lv1'].mean()
    print(_)

587.7415384615384
532.0485714285714
584.3866666666667
578.676923076923
543.4981818181818
540.45
543.1857142857143
558.16
556.4
563.8075
576.2114285714285
511.53142857142853
535.5

In [61]:
# group by: gồm 3 bước split, apply, compa
'''
split chia DF thành DF khác dựa trên giá trị cột_tách. Cách làm:
<tên_df>.groupby(<cột_tách>)
'''
champs.groupby(['primary','champion'])
champs.groupby('primary')
#kết quả trả về là 1 đối tượng groupby
for primary, df in champs.groupby('primary'):
    print(f'phân loại {primary} có {df.shape[0]} tướng.')

phân loại Artillery có 4 tướng.
phân loại Assassin có 15 tướng.
phân loại Battlemage có 11 tướng.
phân loại Burst có 14 tướng.
phân loại Catcher có 7 tướng.
phân loại Diver có 16 tướng.
phân loại Enchanter có 7 tướng.
phân loại Juggernaut có 13 tướng.
phân loại Marksman có 20 tướng.
phân loại Skirmisher có 7 tướng.
phân loại Specialist có 14 tướng.
phân loại Vanguard có 13 tướng.
phân loại Warden có 5 tướng.

In [63]:
list(champs.groupby('primary'))

  86             96.0          600.0          2130.0  Assassin
  87            116.7          590.0          2120.0  Assassin
  93            119.0          585.0          2115.0  Assassin
  99            114.0          587.0          2100.0  Assassin
  113           120.7          588.0          2203.0  Assassin
  141           120.8          584.0          2029.0  Assassin  ),
 ('Battlemage',
           champion                     title release_date  attack_at_lv1  \
  5          Anivia           the Cryophoenix   2009-07-10         51.376
  8    Aurelion Sol           the Star Forger   2016-03-24         57.000
  16     Cassiopeia     the Serpent's Embrace   2010-12-14         53.000
  50        Karthus           the Deathsinger   2009-06-12         45.660
  68       Malzahar   the Prophet of the Void   2010-06-01         55.000
  95         Rumble     the Mechanized Menace   2011-04-26         61.036
  96           Ryze             the Rune Mage   2009-02-21         55.040
  108         Swain  the Noxian Grand General   2010-10-05         58.000
  112       Taliyah           the Stoneweaver   2016-05-18         58.000
  129        Viktor        the Machine Herald   2011-12-29         53.000
  130      Vladimir        the Crimson Reaper   2010-07-27         55.000

       attack_at_lv18  health_at_lv1  health_at_lv18     primary
  5             105.8         480.00          1874.0  Battlemage
  8             111.4         575.00          2139.0  Battlemage
  16            104.0         575.00          2105.0  Battlemage
  50            100.9         528.00          2007.0  Battlemage
  68            106.0         537.00          2016.0  Battlemage
  95            115.4         589.00          2034.0  Battlemage
  96            106.0         570.48          2236.5  Battlemage
  108           103.9         525.00          1970.0  Battlemage
  112           114.1         532.00          2062.0  Battlemage
  129           104.0         530.00          2060.0  Battlemage
  130           106.0         537.00          2169.0  Battlemage  ),
 ('Burst',
           champion                    title release_date  attack_at_lv1  \
  1            Ahri      the Nine-Tailed Fox   2011-12-14         53.040
  6           Annie           the Dark Child   2009-02-21         50.410
  12          Brand    the Burning Vengeance   2011-04-12         57.040
  49          Karma      the Enlightened One   2011-02-01         53.544
  60        LeBlanc             the Deceiver   2010-11-02         54.880
  63      Lissandra            the Ice Witch   2013-04-30         53.000
  66            Lux   the Lady of Luminosity   2010-10-19         53.540
  77          Neeko    the Curious Chameleon   2018-12-05         48.000
  82        Orianna    the Lady of Clockwork   2011-06-01         40.368
  109         Sylas           the Unshackled   2019-01-25         61.000
  110        Syndra       the Dark Sovereign   2012-09-13         53.872
  120  Twisted Fate          the Card Master   2009-02-21         49.954
  126        Veigar  the Tiny Master of Evil   2009-07-24         50.710
  144           Zoe   the Aspect of Twilight   2017-11-21         58.000

       attack_at_lv18  health_at_lv1  health_at_lv18 primary
  1             104.0         526.00          2090.0   Burst
  6              95.0         524.00          2020.0   Burst
  12            108.0         519.68          2015.7   Burst
  49            109.6         534.00          2149.0   Burst
  60            114.4         528.00          2092.0   Burst
  63             98.9         550.00          2080.0   Burst
  66            109.6         490.00          1935.0   Burst
  77             90.5         540.00          2070.0   Burst
  82             84.6         530.00          2077.0   Burst
  109           112.0         585.00          2200.0   Burst
  110           103.2         523.00          2053.0   Burst
  120           106.1         534.00          2132.0   Burst
  126            95.3         505.00          2103.0   Burst
  144           114.1         560.00          2124.0   Burst  ),
 ('Catcher',
         champion                    title release_date  attack_at_lv1  \
  10         Bard  the Wandering Caretaker   2015-03-12         52.000
  11   Blitzcrank    the Great Steam Golem   2009-09-02         61.540
  40        Ivern         the Green Father   2016-10-05         50.000
  73      Morgana               the Fallen   2009-02-21         56.000
  89        Rakan              the Charmer   2017-04-19         62.000
  116      Thresh         the Chain Warden   2013-01-23         56.000
  145        Zyra       Rise of the Thorns   2012-07-24         53.376

       attack_at_lv18  health_at_lv1  health_at_lv18  primary
  10            103.0         575.00          2088.0  Catcher
  11            121.0         582.60          2197.6  Catcher
  40            101.0         585.00          2200.0  Catcher
  73            115.5         560.00          2090.0  Catcher
  89            121.5         540.00          1985.0  Catcher
  116            93.4         560.52          2141.5  Catcher
  145           107.8         504.00          1847.0  Catcher  ),
 ('Diver',
        champion                      title release_date  attack_at_lv1  \
  15     Camille           the Steel Shadow   2016-12-07           68.0
  24       Elise           the Spider Queen   2012-10-26           55.0
  36     Hecarim          the Shadow of War   2012-04-18           66.0
  39      Irelia           the Blade Dancer   2010-11-16           63.0
  42   Jarvan IV    the Exemplar of Demacia   2011-03-01           64.0
  58        Kled  the Cantankerous Cavalier   2016-08-10           65.0
  61     Lee Sin             the Blind Monk   2011-04-01           70.0
  81        Olaf              the Berserker   2010-06-09           68.0
  84    Pantheon      the Unbreakable Spear   2010-02-02           64.0
  91     Rek'Sai          the Void Burrower   2014-12-11           64.0
  92    Renekton   the Butcher of the Sands   2011-01-18           69.0
  105    Skarner       the Crystal Vanguard   2011-08-09           65.0
  128         Vi      the Piltover Enforcer   2012-12-19           63.0
  132    Warwick  the Uncaged Wrath of Zaun   2009-02-21           65.0
  133     Wukong            the Monkey King   2011-07-26           68.0
  136   Xin Zhao   the Seneschal of Demacia   2010-07-13           66.0

       attack_at_lv18  health_at_lv1  health_at_lv18 primary
  15            127.5         575.60          2020.6   Diver
  24            106.0         534.00          2115.0   Diver
  36            120.4         580.00          2110.0   Diver
  39            131.0         580.00          2195.0   Diver
  42            121.8         570.00          2100.0   Diver
  58            124.5         400.00          1420.0   Diver
  61            124.4         575.00          2020.0   Diver
  81            127.5         597.24          2178.2   Diver
  84            120.1         580.00          2195.0   Diver
  91            115.0         570.00          2015.0   Diver
  92            132.8         575.00          2054.0   Diver
  105           141.5         601.28          2131.3   Diver
  128           122.5         585.00          2030.0   Diver
  132           116.0         550.00          1995.0   Diver
  133           136.0         577.80          2022.8   Diver
  136           117.0         570.00          2134.0   Diver  ),
 ('Enchanter',
      champion                  title release_date  attack_at_lv1  \
  41     Janna       the Storm's Fury   2009-09-02         46.000
  65      Lulu      the Fae Sorceress   2012-03-20         46.368
  74      Nami         the Tidecaller   2012-12-07         51.208
  106     Sona   Maven of the Strings   2010-09-21         49.000
  107   Soraka          the Starchild   2009-02-21         50.040
  114    Taric  the Shield of Valoran   2009-08-19         55.000
  139    Yuumi        the Magical Cat   2019-05-14         55.000

       attack_at_lv18  health_at_lv1  health_at_lv18    primary
  41             71.5         500.00          1690.0  Enchanter
  65             90.6         525.00          1783.0  Enchanter
  74            103.9         489.32          1747.3  Enchanter
  106           100.0         482.36          1791.4  Enchanter
  107           101.0         529.04          1855.0  Enchanter
  114           114.5         575.00          2105.0  Enchanter
  139           107.7         480.00          1670.0  Enchanter  ),
 ('Juggernaut',
          champion                     title release_date  attack_at_lv1  \
  0         Aatrox          the Darkin Blade   2013-06-13          60.00
  19        Darius         the Hand of Noxus   2012-05-23          64.00
  21     Dr. Mundo        the Madman of Zaun   2009-09-02          61.27
  32         Garen      the Might of Demacia   2010-04-27          66.00
  38        Illaoi      the Kraken Priestess   2015-11-24          68.00
  72   Mordekaiser         the Iron Revenant   2010-02-24          61.00
  75         Nasus  the Curator of the Sands   2009-10-01          67.00
  101      Shyvana           the Half-Dragon   2011-11-01          66.00
  118      Trundle            the Troll King   2010-12-01          68.00
  122         Udyr         the Spirit Walker   2009-12-02          66.00
  123        Urgot           the Dreadnought   2010-08-24          63.00
  131     Volibear        the Thunder's Roar   2011-11-29          68.00
  138       Yorick         Shepherd of Souls   2011-06-22          62.00

       attack_at_lv18  health_at_lv1  health_at_lv18     primary
  0             145.0         580.00          2110.0  Juggernaut
  19            149.0         582.24          2282.2  Juggernaut
  21            120.8         582.52          2095.5  Juggernaut
  32            142.5         620.00          2048.0  Juggernaut
  38            153.0         585.60          2200.6  Juggernaut
  72            129.0         575.00          2105.0  Juggernaut
  75            126.5         561.20          2091.2  Juggernaut
  101           123.8         595.00          2210.0  Juggernaut
  118           119.0         616.28          2248.3  Juggernaut
  122           151.0         593.32          2276.3  Juggernaut
  123           131.0         585.00          2081.0  Juggernaut
  131           124.1         584.48          2046.5  Juggernaut
  138           147.0         580.00          2280.0  Juggernaut  ),
 ('Marksman',
           champion                     title release_date  attack_at_lv1  \
  7            Ashe          the Frost Archer   2009-02-21           61.0
  14        Caitlyn   the Sheriff of Piltover   2011-01-04           62.0
  18          Corki     the Daring Bombardier   2009-09-19           55.0
  22         Draven  the Glorious Executioner   2012-06-06           60.0
  26         Ezreal     the Prodigal Explorer   2010-03-16           60.0
  45           Jhin              the Virtuoso   2016-02-01           59.0
  46           Jinx          the Loose Cannon   2013-10-10           57.0
  47         Kai'Sa      Daughter of the Void   2018-03-07           59.0
  48        Kalista    the Spear of Vengeance   2014-11-20           69.0
  57        Kindred       the Eternal Hunters   2015-10-14           65.0
  59        Kog'Maw    the Mouth of the Abyss   2010-06-24           61.0
  64         Lucian              the Purifier   2013-08-22           64.0
  71   Miss Fortune         the Bounty Hunter   2010-09-08           50.0
  98          Senna              the Redeemer   2019-11-10           50.0
  104         Sivir       the Battle Mistress   2009-02-21           61.0
  117      Tristana         the Yordle Gunner   2009-02-21           61.0
  121        Twitch            the Plague Rat   2009-05-01           59.0
  124         Varus  the Arrow of Retribution   2012-05-08           61.0
  125         Vayne          the Night Hunter   2011-05-10           60.0
  134         Xayah                 the Rebel   2017-04-19           60.0

       attack_at_lv18  health_at_lv1  health_at_lv18   primary
  7             111.3          539.0          1984.0  Marksman
  14            111.0          481.0          2028.0  Marksman
  18             97.5          518.0          1997.0  Marksman
  22            121.4          574.0          2070.0  Marksman
  26            102.5          500.0          1962.0  Marksman
  45            138.9          556.0          2103.0  Marksman
  46            114.8          581.0          2009.0  Marksman
  47             87.9          571.0          2033.0  Marksman
  48            137.0          534.0          2047.0  Marksman
  57            103.4          540.0          1985.0  Marksman
  59            113.9          534.0          2030.0  Marksman
  64            110.8          571.0          2033.0  Marksman
  71             95.9          541.0          2088.0  Marksman
  98             50.0          520.0          1965.0  Marksman
  104           112.0          532.0          2028.0  Marksman
  117           117.1          559.0          2055.0  Marksman
  121           111.9          582.0          2010.0  Marksman
  124           113.9          500.0          2013.0  Marksman
  125           100.1          515.0          2028.0  Marksman
  134           109.3          561.0          2023.0  Marksman  ),
 ('Skirmisher',
         champion                 title release_date  attack_at_lv1  \
  28        Fiora     the Grand Duelist   2012-02-29           68.0
  43          Jax   Grandmaster at Arms   2009-02-21           68.0
  54         Kayn     the Shadow Reaper   2017-07-12           68.0
  70    Master Yi    the Wuju Bladesman   2009-02-21           66.0
  94        Riven             the Exile   2011-09-14           64.0
  119  Tryndamere    the Barbarian King   2009-05-01           69.0
  137       Yasuo        the Unforgiven   2013-12-13           60.0

       attack_at_lv18  health_at_lv1  health_at_lv18     primary
  28            124.1         550.00          1995.0  Skirmisher
  43            125.4         592.80          2037.8  Skirmisher
  54            124.1         585.00          2030.0  Skirmisher
  70            117.0         598.56          2162.6  Skirmisher
  94            115.0         558.48          2020.5  Skirmisher
  119           131.9         625.64          2291.6  Skirmisher
  137           114.4         523.00          2002.0  Skirmisher  ),
 ('Specialist',
           champion                     title release_date  attack_at_lv1  \
  9            Azir  the Emperor of the Sands   2014-09-16         52.000
  17       Cho'Gath    the Terror of the Void   2009-06-26         69.000
  27   Fiddlesticks     the Harbinger of Doom   2009-02-21         48.360
  31      Gangplank     the Saltwater Scourge   2009-08-19         64.000
  33           Gnar          the Missing Link   2014-08-14         59.000
  35         Graves                the Outlaw   2011-10-19         68.000
  37   Heimerdinger      the Revered Inventor   2009-10-10         55.536
  53          Kayle             the Righteous   2009-02-21         50.000
  55         Kennen  the Heart of the Tempest   2010-04-08         48.000
  78        Nidalee      the Bestial Huntress   2009-12-17         61.000
  88          Quinn           Demacia's Wings   2013-03-01         59.000
  102        Singed           the Mad Chemist   2009-04-18         63.000
  115         Teemo           the Swift Scout   2009-02-21         54.000
  143        Zilean          the Chronokeeper   2009-04-18         51.640

       attack_at_lv18  health_at_lv1  health_at_lv18     primary
  9              99.6          552.0          2116.0  Specialist
  17            140.4          574.4          1934.4  Specialist
  27             93.0          524.4          1884.4  Specialist
  31            115.0          540.0          1934.0  Specialist
  33            110.0          510.0          1615.0  Specialist
  35            119.0          555.0          2119.0  Specialist
  37            101.4          488.0          1967.0  Specialist
  53             92.5          600.0          2045.0  Specialist
  55            111.8          541.0          1969.0  Specialist
  78            120.5          545.0          1990.0  Specialist
  88             99.8          532.8          1977.8  Specialist
  102           120.4          610.0          2055.0  Specialist
  115           105.0          528.0          2058.0  Specialist
  143           102.6          504.0          1898.0  Specialist  ),
 ('Vanguard',
       champion                        title release_date  attack_at_lv1  \
  3     Alistar                 the Minotaur   2009-02-21        61.1116
  4       Amumu                the Sad Mummy   2009-06-26        53.3800
  34     Gragas            the Rabble Rouser   2010-02-02        64.0000
  62      Leona             the Radiant Dawn   2011-07-13        60.0400
  67   Malphite        Shard of the Monolith   2009-09-02        61.9700
  69     Maokai           the Twisted Treant   2011-02-16        63.5400
  76   Nautilus      the Titan of the Depths   2012-02-14        61.0000
  80       Nunu         the Boy and his Yeti   2009-02-21        61.0000
  83       Ornn  the Fire Below The Mountain   2017-08-23        69.0000
  90     Rammus               the Armordillo   2009-07-10        55.8800
  97    Sejuani            Fury of the North   2012-01-17        66.0000
  103      Sion        the Undead Juggernaut   2009-02-21        68.0000
  140       Zac            the Secret Weapon   2013-03-29        60.0000

       attack_at_lv18  health_at_lv1  health_at_lv18   primary
  3             122.7         573.36          2375.4  Vanguard
  4             118.0         613.12          2041.1  Vanguard
  34            123.5         600.00          2215.0  Vanguard
  62            111.0         576.16          2055.2  Vanguard
  67            130.0         574.20          2104.2  Vanguard
  69            119.6         565.00          2180.0  Vanguard
  76            117.1         576.48          2038.5  Vanguard
  80            112.0         570.00          1964.0  Vanguard
  83            128.5         590.00          2205.0  Vanguard
  90            115.4         564.48          2026.5  Vanguard
  97            134.0         560.00          2175.0  Vanguard
  103           136.0         545.00          1786.0  Vanguard
  140           117.8         615.00          2230.0  Vanguard  ),
 ('Warden',
         champion                      title release_date  attack_at_lv1  \
  13        Braum  the Heart of the Freljord   2014-05-12         55.376
  30        Galio               the Colossus   2010-08-10         59.000
  85        Poppy       Keeper of the Hammer   2010-01-13         64.000
  100        Shen        the Eye of Twilight   2010-03-24         60.000
  111  Tahm Kench             the River King   2015-07-09         56.000

       attack_at_lv18  health_at_lv1  health_at_lv18 primary
  13            109.8          540.0          2019.0  Warden
  30            118.5          562.0          2466.0  Warden
  85            132.0          540.0          2070.0  Warden
  100           111.0          540.0          1985.0  Warden
  111           110.4          600.0          2300.0  Warden  )]

In [69]:
champs.groupby('primary').health_at_lv1.max()

primary
Artillery     560.00
Assassin      602.00
Battlemage    589.00
Burst         585.00
Catcher       585.00
Diver         601.28
Enchanter     575.00
Juggernaut    620.00
Marksman      582.00
Skirmisher    625.64
Specialist    610.00
Vanguard      615.00
Warden        600.00
Name: health_at_lv1, dtype: float64

In [71]:
champs = champs.assign(health_at_lv11 = (champs.health_per_lv*10 + champs.health_at_lv1))
champs.groupby('primary').health_at_lv11.max()

primary
Artillery     1460.000000
Assassin      1550.000000
Battlemage    1550.491765
Burst         1535.000000
Catcher       1535.000000
Diver         1530.000000
Enchanter     1475.000000
Juggernaut    1583.308235
Marksman      1466.000000
Skirmisher    1605.616471
Specialist    1475.000000
Vanguard      1633.383529
Warden        1682.000000
Name: health_at_lv11, dtype: float64

In [72]:
champs.assign(
    health_per_lv = lambda x : (x.health_at_lv18 - x.health_at_lv1) / 17,
    health_at_lv11 = lambda x : x.health_at_lv1 + x.health_per_lv*10
).groupby('primary').health_at_lv11.max()

primary
Artillery     1460.000000
Assassin      1550.000000
Battlemage    1550.491765
Burst         1535.000000
Catcher       1535.000000
Diver         1530.000000
Enchanter     1475.000000
Juggernaut    1583.308235
Marksman      1466.000000
Skirmisher    1605.616471
Specialist    1475.000000
Vanguard      1633.383529
Warden        1682.000000
Name: health_at_lv11, dtype: float64