In [1]:
import pandas as pd
import numpy as np

In [37]:
#Data frame: mảng 2 chiều có gắn nhãn(đối tượng chính của môn học)
'''
Gồm nhiều Series cũng chung label ghép lại với nhau
'''
pkm = pd.read_csv('Study/Week1/pokemon_data.csv', index_col= 0) 
pkm.head(10)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [38]:
pd.DataFrame({'ID' : [1 , 2, 3],'Product' : ['Apple', 'Banana', 'Cherry'], 'Price' : [10, 9, 8]}) #không chỉ ra index vs column tự sinh ra

   ID Product  Price
0   1   Apple     10
1   2  Banana      9
2   3  Cherry      8

In [ ]:
pd.DataFrame(data, index, columns)

In [39]:
#list của list
ll = [
    ['apple', 10],
    ['banana', 25],
    ['cherry', 40]
]
pd.DataFrame(ll)

        0   1
0   apple  10
1  banana  25
2  cherry  40

In [40]:
pd.DataFrame(data = ll, index= ['a', 'b' ,'c'], columns= ['name', 'price'])

     name  price
a   apple     10
b  banana     25
c  cherry     40

In [41]:
ll1 = [
    ['apple', 10, 5],
    ['banana', 25],
    ['cherry', 40]
]
pd.DataFrame(ll1)

        0   1    2
0   apple  10  5.0
1  banana  25  NaN
2  cherry  40  NaN

In [42]:
#dictionary: 
'''phải có độ dài phần tử bằng nhau'''
d1 = {
    'col1' : ['apple', 'banana'],
    'col2' : [1, 2],
    'col3' : ['2019-10-02', '2019-11-01']
}
pd.DataFrame(d1)

     col1  col2        col3
0   apple     1  2019-10-02
1  banana     2  2019-11-01

In [43]:
d2 = {
    'col1' : ['apple', 'banana', 'cherry'],
    'col2' : [1, 2],
    'col3' : ['2019-10-02', '2019-11-01']
}
pd.DataFrame(d2)

ValueError: arrays must all be same length

In [44]:
#tạo list mà mỗi phần tử là một dictionary
ld = [
    {'date' : '2019-10-01', 'Ticker' : 'AAA', 'Close' : 100},
    {'date' : '2019-10-01', 'Ticker' : 'BBB', 'Close' : 200}
]
pd.DataFrame(ld)

   Close Ticker        date
0    100    AAA  2019-10-01
1    200    BBB  2019-10-01

In [45]:
ld2 = [
    {'date' : '2019-10-01', 'Ticker' : 'AAA', 'Close' : 100},
    {'date' : '2019-10-01', 'Ticker' : 'BBB', 'open' : 205, 'Close' : 200}
]
pd.DataFrame(ld2)

   Close Ticker        date   open
0    100    AAA  2019-10-01    NaN
1    200    BBB  2019-10-01  205.0

In [46]:
pd.DataFrame(columns= ['a', 'b', 'c']).empty

True

In [47]:
pd.DataFrame(index= ['a', 'b', 'c']).empty

True

In [48]:
pd.DataFrame(columns= ['a', 'b', 'c'], index= ['a', 'b', 'c']).empty

False

In [49]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [24]:
#dataframe mẫu:
Dict_ex = {
    'Date' : pd.date_range(start = '2019-11-20', periods = 10, freq = 'D'),
    'Name' : np.random.choice(['apple', 'banana', 'cherry'], size = 10),
    'Số lượng' : np.random.randint(100, size = 10)
}
DF_ex = pd.DataFrame(Dict_ex, index= list('abcdefghij'))
DF_ex

        Date    Name  Số lượng
a 2019-11-20  cherry        77
b 2019-11-21   apple        23
c 2019-11-22  cherry        22
d 2019-11-23  banana        79
e 2019-11-24   apple        72
f 2019-11-25  banana        90
g 2019-11-26  cherry        45
h 2019-11-27   apple        78
i 2019-11-28   apple        21
j 2019-11-29  banana        92

In [52]:
''' 
Một số thuộc tính cơ bản:
.size: trả về số lượng phần tử dataframe
.shape: trả về kích thước dataframe cới định dạng(cột, hàng)
.ndim trả về số chiều của dataframe. vì dataframe là mảng 2 chiều, nên kết quả trả về luôn là 2
.empty: trả về True or False nếu dataframe là rỗng
.dtypes: trả về kiểu dữ liệu từng cột
.columns: trả về danh sách các cột của dataframe
.index: trả về index
.axes: kết hợp columns and index: trả về 1 list với dòng trước cột sau
'''

' \nMột số thuộc tính cơ bản:\n.size: trả về số lượng phần tử dataframe\n.shape: trả về kích thước dataframe cới định dạng(cột, hàng)\n.ndim trả về số chiều của dataframe. vì dataframe là mảng 2 chiều, nên kết quả trả về luôn là 2\n.empty: trả về True or False nếu dataframe là rỗng\n.dtypes: trả về kiểu dữ liệu từng cột\n.columns: trả về danh sách các cột của dataframe\n.index: trả về index\n.axes: kết hợp columns and index: trả về 1 list với dòng trước cột sau\n'

In [ ]:
#đổi tên:
method: .rename()
<tên_DF>.rename(index = {<tên_dòng_cũ> : <tên_dòng_mới>})

In [53]:
#Ex đổi col1 thành date
DF_ex.rename(columns= {'col1' : 'date'})
'''nếu không có inplace = True thì rename sẽ tạo df mới chứ không đối tên trong df cũ'''
DF_ex = DF_ex.rename(columns= {'col1' : 'date'})
#hoặc
DF_ex.rename(columns= {'col1' : 'date'}, inplace = True)

        date    col2  col3
a 2019-11-20   apple    89
b 2019-11-21  cherry     9
c 2019-11-22  banana    67
d 2019-11-23  cherry    43
e 2019-11-24  banana    98
f 2019-11-25  cherry    47
g 2019-11-26   apple    50
h 2019-11-27   apple    65
i 2019-11-28  cherry    83
j 2019-11-29   apple    19

In [ ]:
#đổi tên nhanh hàng loạt
<tên_DF>.columns = <Danh_sách_tên_cột_mới>
<tên_DF>.index = <Danh_sách_tên_dòng_mới>

In [56]:
DF_ex2 = DF_ex.copy() # nếu không .copy mà gán bằng thì khi đổi ex2 thì ex cũng có thể bị đổi
DF_ex2.columns = ['Date', 'Product', 'Quantity']
DF_ex2

        Date Product  Quantity
a 2019-11-20   apple        89
b 2019-11-21  cherry         9
c 2019-11-22  banana        67
d 2019-11-23  cherry        43
e 2019-11-24  banana        98
f 2019-11-25  cherry        47
g 2019-11-26   apple        50
h 2019-11-27   apple        65
i 2019-11-28  cherry        83
j 2019-11-29   apple        19

In [57]:
#Trích xuất dữ liệu theo cột
#trích xuất 1 cột
DF_ex['col1'] # DF_ex.col1

a   2019-11-20
b   2019-11-21
c   2019-11-22
d   2019-11-23
e   2019-11-24
f   2019-11-25
g   2019-11-26
h   2019-11-27
i   2019-11-28
j   2019-11-29
Name: col1, dtype: datetime64[ns]

In [62]:
type(DF_ex['col1'])

pandas.core.series.Series

In [63]:
#tích xuất nhiều cột
DF_ex[['col1', 'col2']]

        col1    col2
a 2019-11-20   apple
b 2019-11-21  cherry
c 2019-11-22  banana
d 2019-11-23  cherry
e 2019-11-24  banana
f 2019-11-25  cherry
g 2019-11-26   apple
h 2019-11-27   apple
i 2019-11-28  cherry
j 2019-11-29   apple

In [65]:
type(DF_ex[['col1']])

pandas.core.frame.DataFrame

In [67]:
#note:
print(DF_ex['col1'].ndim) #Series
print(DF_ex[['col1']].ndim) #DataFrame

1
2

In [ ]:
#trích xuất dữ liệu theo dòng:
DF_ex['a'] #lỗi cách này dùng trích xuất cột nên không thể trích xuất dòng
Method: .loc and . iloc
.loc[]: lấy dòng theo label
.iloc[]: lấy dữ liệu theo số thứ tự bắt đầu từ 0

In [70]:
#ex:
DF_ex.loc['a'] #Series

col1    2019-11-20 00:00:00
col2                  apple
col3                     89
Name: a, dtype: object

In [71]:
DF_ex.iloc[2] #Series

col1    2019-11-22 00:00:00
col2                 banana
col3                     67
Name: c, dtype: object

In [76]:
#trích xuất nhiều dòng:
DF_ex.loc[['a', 'c']] #DataFrame

        col1    col2  col3
a 2019-11-20   apple    89
c 2019-11-22  banana    67

In [77]:
DF_ex.iloc[0: 10 : 3] #DataFrame [vị trí bắt đầu : vị trí kết thúc : step]

        col1    col2  col3
a 2019-11-20   apple    89
d 2019-11-23  cherry    43
g 2019-11-26   apple    50
j 2019-11-29   apple    19

In [ ]:
#Trích xuất theo cả dòng lẫn cột
method: .loc
<tên_df>.loc[<dòng_cần_lấy>, <cột cần lấy>]
tương tự .iloc[]

In [96]:
DF_ex.loc[['a', 'c'], ['col2', 'col3']]
DF_ex.loc[ :, ['col2', 'col3']]

     col2  col3
a   apple    89
b  cherry     9
c  banana    67
d  cherry    43
e  banana    98
f  cherry    47
g   apple    50
h   apple    65
i  cherry    83
j   apple    19

In [98]:
DF_ex.iloc[[0 , 5], [1, 2]]
DF_ex.iloc[ :, [1, 2]]

     col2  col3
a   apple    89
b  cherry     9
c  banana    67
d  cherry    43
e  banana    98
f  cherry    47
g   apple    50
h   apple    65
i  cherry    83
j   apple    19

In [ ]:
trích xuất có điều kiện
<tên_df>[điều_kiện]

In [99]:
DF_ex[DF_ex.col2 == 'apple'] #điều kiện đơn

        col1   col2  col3
a 2019-11-20  apple    89
g 2019-11-26  apple    50
h 2019-11-27  apple    65
j 2019-11-29  apple    19

In [ ]:
#điều kiện kép
&: and
|: or
và điều kiện phải trong ngoặc

In [100]:
DF_ex[(DF_ex.col2 == 'apple') & ((DF_ex.col1 == '2019-11-20') | (DF_ex.col2 == 'banana'))]

        col1   col2  col3
a 2019-11-20  apple    89

In [4]:
df1 = pd.read_csv('Study/Week1/pokemon_data.csv', index_col =0)
df1.reset_index(inplace = True)

In [3]:
#Thay đổi index <dataframe>.index = <index mới>
df2 = pd.DataFrame([['apple', 10],
    ['banana', 25],
    ['cherry', 40]])
df2

        0   1
0   apple  10
1  banana  25
2  cherry  40

In [ ]:
#đặt một cột thành index: .set_index()
df2.set_index()
#đặt lại index: .reset_index()
df2.reset_index()
#tham số drop báo có giữ lại index cũ hay không nếu False thì tạo index là 1 cột mới giữ index cũ, True xoá index cũ đi thay bằng index mới
#sắp xếp lại theo thứ tự index: .sort_index()
df1.sort_index(ascending=) #ascending= False sắp xếp giảm dần
#biến đổi dataframe bằng .reindex(): Toạ ra df mới có cấu trúc: tên dòng đi theo thứ tự được chỉ ra, tên cột đi theo thứ tự được chỉ ra, giá trị tương ứng trong df gốc nếu không có thì dùng giá trị Null(NaN)

In [5]:
df1.reindex(columns= ['HP', 'Name'], index= [1, 2, 3])

   HP                   Name
1  60                Ivysaur
2  80               Venusaur
3  80  VenusaurMega Venusaur

In [8]:
pd.concat([DF_ex, df2], join = 'inner')

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h, i, j, 0, 1, 2]

In [16]:
#kết hợp data bằng merge
df4 = pd.DataFrame({'date' : ['2019-10-25', '2019-10-26', '2019-10-27'],
'Name' : ['apple', 'banana', 'cherry'],
'đã mua' : [39, 52, 17]})
df4

         date    Name  đã mua
0  2019-10-25   apple      39
1  2019-10-26  banana      52
2  2019-10-27  cherry      17

In [18]:
df5 = pd.DataFrame({'Name' : ['apple', 'banana', 'cherry'],
'price' : [10 , 15 , 20]})
df5

     Name  price
0   apple     10
1  banana     15
2  cherry     20

In [26]:
DF_ex

        Date    Name  Số lượng
a 2019-11-20  cherry        77
b 2019-11-21   apple        23
c 2019-11-22  cherry        22
d 2019-11-23  banana        79
e 2019-11-24   apple        72
f 2019-11-25  banana        90
g 2019-11-26  cherry        45
h 2019-11-27   apple        78
i 2019-11-28   apple        21
j 2019-11-29  banana        92

In [29]:
pd.merge(DF_ex, df5)

        Date    Name  Số lượng  price
0 2019-11-20  cherry        77     20
1 2019-11-22  cherry        22     20
2 2019-11-26  cherry        45     20
3 2019-11-21   apple        23     10
4 2019-11-24   apple        72     10
5 2019-11-27   apple        78     10
6 2019-11-28   apple        21     10
7 2019-11-23  banana        79     15
8 2019-11-25  banana        90     15
9 2019-11-29  banana        92     15

In [2]:
#Chuyển đổi kiểu dữ liệu trong dataframe
df = pd.read_csv('pokemon_data.csv', index_col = 0).reset_index(drop = True)
df.index.name = '#'
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
20,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
24,Rattata,Normal,NaN,30,56,35,25,35,72,1,False
25,Raticate,Normal,NaN,55,81,60,50,70,97,1,False
26,Spearow,Normal,Flying,40,60,30,31,31,70,1,False
27,Fearow,Normal,Flying,65,90,65,61,61,100,1,False
28,Ekans,Poison,NaN,35,60,44,40,54,55,1,False
29,Arbok,Poison,NaN,60,85,69,65,79,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...
770,Sylveon,Fairy,NaN,95,65,65,110,130,60,6,False
771,Hawlucha,Fighting,Flying,78,92,75,74,63,118,6,False
772,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
773,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False
774,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False
775,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
776,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
777,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
778,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
779,Trevenant,Ghost,Grass,85,110,76,65,82,56,6,False
780,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False
781,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False
782,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False
783,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False
784,GourgeistAverage Size,Ghost,Grass,65,90,122,58,75,84,6,False
785,GourgeistSmall Size,Ghost,Grass,55,85,122,58,75,99,6,False
786,GourgeistLarge Size,Ghost,Grass,75,95,122,58,75,69,6,False
787,GourgeistSuper Size,Ghost,Grass,85,100,122,58,75,54,6,False
788,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
789,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False
790,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
792,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
#chuyển đổi thành thời gian .to_datetime()
#dùng accessor .dt để dùng cho các phương thức của kiểu dữ liệu thời gian
df.Date.dt.strftime('%d/%m/%y') #df.Date là Series

In [3]:
#to_numberic không được có kí tự khác số, dùng accessor df.Close.str.replace('chuổi cần chuyển đồi', 'chuyển muốn chuyển đổi')
#dùng assign để thêm vô df
df = pd.read_csv('https://raw.githubusercontent.com/Levytan/MIS.2019/master/Data/vnm.csv', header = None)
df.columns = ['Date', 'Close', 'Volume', 'PercentChange']
df

          Date   Close   Volume PercentChange
0   2018-06-01  136.1k  1051610            ?%
1   2018-06-04  141.6k   965230         4.04%
2   2018-06-05  144.4k   879160         1.98%
3   2018-06-06  142.8k   463720        -1.11%
4   2018-06-07  144.7k   401900         1.33%
5   2018-06-08  144.4k   505520        -0.21%
6   2018-06-11  147.0k   721050          1.8%
7   2018-06-12  147.7k   873690         0.48%
8   2018-06-13  147.7k   472470          0.0%
9   2018-06-14  146.9k   767750        -0.54%
10  2018-06-15  146.9k  1114730          0.0%

In [4]:
df = df.assign(PercentChange = df.PercentChange.str.replace('%', ''))
df = df.assign(PercentChange = pd.to_numeric(df.PercentChange, errors = 'coerce'))
df

          Date   Close   Volume  PercentChange
0   2018-06-01  136.1k  1051610            NaN
1   2018-06-04  141.6k   965230           4.04
2   2018-06-05  144.4k   879160           1.98
3   2018-06-06  142.8k   463720          -1.11
4   2018-06-07  144.7k   401900           1.33
5   2018-06-08  144.4k   505520          -0.21
6   2018-06-11  147.0k   721050           1.80
7   2018-06-12  147.7k   873690           0.48
8   2018-06-13  147.7k   472470           0.00
9   2018-06-14  146.9k   767750          -0.54
10  2018-06-15  146.9k  1114730           0.00

In [5]:
df = df.assign(Date = pd.to_datetime(df.Date))
df = df.assign(Date = df.Date.dt.strftime('%d/%m/%y'))
df

        Date   Close   Volume  PercentChange
0   01/06/18  136.1k  1051610            NaN
1   04/06/18  141.6k   965230           4.04
2   05/06/18  144.4k   879160           1.98
3   06/06/18  142.8k   463720          -1.11
4   07/06/18  144.7k   401900           1.33
5   08/06/18  144.4k   505520          -0.21
6   11/06/18  147.0k   721050           1.80
7   12/06/18  147.7k   873690           0.48
8   13/06/18  147.7k   472470           0.00
9   14/06/18  146.9k   767750          -0.54
10  15/06/18  146.9k  1114730           0.00

In [6]:
df[df.PercentChange != df.PercentChange]

       Date   Close   Volume  PercentChange
0  01/06/18  136.1k  1051610            NaN

In [7]:
Columns = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'type']
iris = pd.read_csv("https://raw.githubusercontent.com/Levytan/MIS.2019/master/Data/iris.csv", header = None)
iris.columns = Columns
iris

     sepal-length  sepal-width  petal-length  petal-width            type
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
9             4.9          3.1           1.5          0.1     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
11            4.8          3.4           1.6          0.2     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
15            5.7          4.4           1.5          0.4     Iris-setosa
16            5.4          3.9           1.3          0.4     Iris-setosa
17            5.1          3.5           1.4          0.3     Iris-setosa
18            5.7          3.8           1.7          0.3     Iris-setosa
19            5.1          3.8           1.5          0.3     Iris-setosa
20            5.4          3.4           1.7          0.2     Iris-setosa
21            5.1          3.7           1.5          0.4     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa
23            5.1          3.3           1.7          0.5     Iris-setosa
24            4.8          3.4           1.9          0.2     Iris-setosa
25            5.0          3.0           1.6          0.2     Iris-setosa
26            5.0          3.4           1.6          0.4     Iris-setosa
27            5.2          3.5           1.5          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
29            4.7          3.2           1.6          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
iris['sepal-length'].value_counts()

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: sepal-length, dtype: int64

In [9]:
iris['sepal-length'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [13]:
df2 = pd.Categorical(iris.type)
df2

[Iris-setosa, Iris-setosa, Iris-setosa, Iris-setosa, Iris-setosa, ..., Iris-virginica, Iris-virginica, Iris-virginica, Iris-virginica, Iris-virginica]
Length: 150
Categories (3, object): [Iris-setosa, Iris-versicolor, Iris-virginica]

In [12]:
df2.dtype

CategoricalDtype(categories=['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], ordered=False)

In [18]:
iris_2 = iris.assign(type = pd.Categorical(iris.type))
iris_2

     sepal-length  sepal-width  petal-length  petal-width            type
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
9             4.9          3.1           1.5          0.1     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
11            4.8          3.4           1.6          0.2     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
15            5.7          4.4           1.5          0.4     Iris-setosa
16            5.4          3.9           1.3          0.4     Iris-setosa
17            5.1          3.5           1.4          0.3     Iris-setosa
18            5.7          3.8           1.7          0.3     Iris-setosa
19            5.1          3.8           1.5          0.3     Iris-setosa
20            5.4          3.4           1.7          0.2     Iris-setosa
21            5.1          3.7           1.5          0.4     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa
23            5.1          3.3           1.7          0.5     Iris-setosa
24            4.8          3.4           1.9          0.2     Iris-setosa
25            5.0          3.0           1.6          0.2     Iris-setosa
26            5.0          3.4           1.6          0.4     Iris-setosa
27            5.2          3.5           1.5          0.2     Iris-setosa
28            5.2          3.4           1.4          0.2     Iris-setosa
29            4.7          3.2           1.6          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
120           6.9          3.2           5.7          2.3  Iris-virginica
121           5.6          2.8           4.9          2.0  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
123           6.3          2.7           4.9          1.8  Iris-virginica
124           6.7          3.3           5.7          2.1  Iris-virginica
125           7.2          3.2           6.0          1.8  Iris-virginica
126           6.2          2.8           4.8          1.8  Iris-virginica
127           6.1          3.0           4.9          1.8  Iris-virginica
128           6.4          2.8           5.6          2.1  Iris-virginica
129           7.2          3.0           5.8          1.6  Iris-virginica
130           7.4          2.8           6.1          1.9  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
132           6.4          2.8           5.6          2.2  Iris-virginica
133           6.3          2.8           5.1          1.5  Iris-virginica
134           6.1          2.6           5.6          1.4  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
136           6.3          3.4           5.6          2.4  Iris-virginica
137           6.4          3.1           5.5          1.8  Iris-virginica
138           6.0          3.0           4.8          1.8  Iris-virginica
139           6.9          3.1           5.4          2.1  Iris-virginica
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [19]:
iris_2 = iris_2.assign(type = iris_2.type.cat.codes)
iris_2

     sepal-length  sepal-width  petal-length  petal-width  type
0             5.1          3.5           1.4          0.2     0
1             4.9          3.0           1.4          0.2     0
2             4.7          3.2           1.3          0.2     0
3             4.6          3.1           1.5          0.2     0
4             5.0          3.6           1.4          0.2     0
5             5.4          3.9           1.7          0.4     0
6             4.6          3.4           1.4          0.3     0
7             5.0          3.4           1.5          0.2     0
8             4.4          2.9           1.4          0.2     0
9             4.9          3.1           1.5          0.1     0
10            5.4          3.7           1.5          0.2     0
11            4.8          3.4           1.6          0.2     0
12            4.8          3.0           1.4          0.1     0
13            4.3          3.0           1.1          0.1     0
14            5.8          4.0           1.2          0.2     0
15            5.7          4.4           1.5          0.4     0
16            5.4          3.9           1.3          0.4     0
17            5.1          3.5           1.4          0.3     0
18            5.7          3.8           1.7          0.3     0
19            5.1          3.8           1.5          0.3     0
20            5.4          3.4           1.7          0.2     0
21            5.1          3.7           1.5          0.4     0
22            4.6          3.6           1.0          0.2     0
23            5.1          3.3           1.7          0.5     0
24            4.8          3.4           1.9          0.2     0
25            5.0          3.0           1.6          0.2     0
26            5.0          3.4           1.6          0.4     0
27            5.2          3.5           1.5          0.2     0
28            5.2          3.4           1.4          0.2     0
29            4.7          3.2           1.6          0.2     0
..            ...          ...           ...          ...   ...
120           6.9          3.2           5.7          2.3     2
121           5.6          2.8           4.9          2.0     2
122           7.7          2.8           6.7          2.0     2
123           6.3          2.7           4.9          1.8     2
124           6.7          3.3           5.7          2.1     2
125           7.2          3.2           6.0          1.8     2
126           6.2          2.8           4.8          1.8     2
127           6.1          3.0           4.9          1.8     2
128           6.4          2.8           5.6          2.1     2
129           7.2          3.0           5.8          1.6     2
130           7.4          2.8           6.1          1.9     2
131           7.9          3.8           6.4          2.0     2
132           6.4          2.8           5.6          2.2     2
133           6.3          2.8           5.1          1.5     2
134           6.1          2.6           5.6          1.4     2
135           7.7          3.0           6.1          2.3     2
136           6.3          3.4           5.6          2.4     2
137           6.4          3.1           5.5          1.8     2
138           6.0          3.0           4.8          1.8     2
139           6.9          3.1           5.4          2.1     2
140           6.7          3.1           5.6          2.4     2
141           6.9          3.1           5.1          2.3     2
142           5.8          2.7           5.1          1.9     2
143           6.8          3.2           5.9          2.3     2
144           6.7          3.3           5.7          2.5     2
145           6.7          3.0           5.2          2.3     2
146           6.3          2.5           5.0          1.9     2
147           6.5          3.0           5.2          2.0     2
148           6.2          3.4           5.4          2.3     2
149           5.9          3.0           5.1          1.8     2

[150 rows x 5 columns]