In [2]:
import numpy as np
import pandas as pd

In [40]:
a = [i*i for i in range(10)]

In [41]:
#Có 3 kiểu dữ liệu trong Pandas

In [137]:
#1 Series
b = pd.Series(data = a, index= [ 0, 1, 2, 3, 11, 5, 6, 7, 8, 10], dtype= int)
c = pd.Series([1,2,3,4])
#data: list, array, dictionary
#index: tên cột
#dtype: kiểu dữ liệu (không có python tự chọn) gồm có int64, int32, float64, datetime64, object
#coppy True or False. Tạo bản coppy

In [138]:
b
#lấy phần tử theo vị trí [không nên]
b[1:4]
#lấy phần tử theo label (label là duy nhất không trùng nhau) [thường dùng]
b[[ 1, 2, 3 ]]
#lấy phần tử theo điều kiện [thường dùng]
b[b < 5]

b.head()
c.head()

#cập nhật phần tử
b[1] = 100
b[0] = 55
#thêm phần tử mới
b['add'] = 99
b['b'] = 10000
b
#xoá phần tử
b.drop('add') #nếu không gán b = b.drop("add") thì không xoá được vì drop tạo ra 1 bản sao không có label 'add' nên nếu không đè lên b lại thì drop không có tác dụng
    # có thể test bằng câu id(b) và id(b.drop("add"))
b
id(b) == id(b.drop("add"))

    # Câu đúng
b = b.drop("add")
b
    # Cách khác
b.drop([0], inplace = True) # trong []  là label
b
#method gần như tương đương với drop đó là pop()
d = b.pop(11)   #khác trả về giá trị ở label chỉ ra rồi xoá nó ra khỏi Series
print('d =',d)
b

d = 16

1       100
2         4
3         9
5        25
6        36
7        49
8        64
10       81
b     10000
dtype: int64

In [172]:
#thêm,xoá nhiều phần tử
s = pd.Series(index= ['a', 'b', 'c', 'd'])
s[1] = 1
s['1'] = 10
h = s.append(pd.Series(index= ['e', 'f', 'g', 'h'], dtype = object)) #chỉ nhận Series, dataframe, 
h

a    NaN
b      1
c    NaN
d    NaN
1     10
e    NaN
f    NaN
g    NaN
h    NaN
dtype: object

In [156]:
#tạo Series bằng randint

# .size kích thước Series
# .ndin cho biết chiều dài của Series
# .empty kiểm tra Series có rổng hay không
# NaN(Not a Number) chỉ dùng cho kiểu dữ liệu số, ám chỉ rổng
type(float("nan"))

float

In [9]:
#2 dataframe
country = {'English' : 'en', 'Vietnamese' : 'vn', 'French' : 'fr'}

In [65]:
read_csv_file = pd.read_csv("pokemon_data.csv", index_col= 0)

In [90]:
read_csv_file.head(10)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [ ]:
#3 Panel