In [3]:
import numpy as np
import pandas as pd

In [40]:
a = [i*i for i in range(10)]

In [41]:
#Có 3 kiểu dữ liệu trong Pandas

In [137]:
#1 Series
b = pd.Series(data = a, index= [ 0, 1, 2, 3, 11, 5, 6, 7, 8, 10], dtype= int)
c = pd.Series([1,2,3,4])
#data: list, array, dictionary
#index: tên cột
#dtype: kiểu dữ liệu (không có python tự chọn) gồm có int64, int32, float64, datetime64, object
#coppy True or False. Tạo bản coppy

In [138]:
b
#lấy phần tử theo vị trí [không nên]
b[1:4]
#lấy phần tử theo label (label là duy nhất không trùng nhau) [thường dùng]
b[[ 1, 2, 3 ]]
#lấy phần tử theo điều kiện [thường dùng]
b[b < 5]

b.head()
c.head()

#cập nhật phần tử
b[1] = 100
b[0] = 55
#thêm phần tử mới
b['add'] = 99
b['b'] = 10000
b
#xoá phần tử
b.drop('add') #nếu không gán b = b.drop("add") thì không xoá được vì drop tạo ra 1 bản sao không có label 'add' nên nếu không đè lên b lại thì drop không có tác dụng
    # có thể test bằng câu id(b) và id(b.drop("add"))
b
id(b) == id(b.drop("add"))

    # Câu đúng
b = b.drop("add")
b
    # Cách khác
b.drop([0], inplace = True) # trong []  là label
b
#method gần như tương đương với drop đó là pop()
d = b.pop(11)   #khác trả về giá trị ở label chỉ ra rồi xoá nó ra khỏi Series
print('d =',d)
b

d = 16

1       100
2         4
3         9
5        25
6        36
7        49
8        64
10       81
b     10000
dtype: int64

In [172]:
#thêm,xoá nhiều phần tử
s = pd.Series(index= ['a', 'b', 'c', 'd'])
s[1] = 1
s['1'] = 10
h = s.append(pd.Series(index= ['e', 'f', 'g', 'h'], dtype = object)) #chỉ nhận Series, dataframe, 
h

a    NaN
b      1
c    NaN
d    NaN
1     10
e    NaN
f    NaN
g    NaN
h    NaN
dtype: object

In [156]:
#tạo Series bằng randint

# .size kích thước Series
# .ndin cho biết chiều dài của Series
# .empty kiểm tra Series có rổng hay không
# NaN(Not a Number) chỉ dùng cho kiểu dữ liệu số, ám chỉ rổng
type(float("nan"))

float

In [9]:
#2 dataframe
country = {'English' : 'en', 'Vietnamese' : 'vn', 'French' : 'fr'}

In [5]:
read_csv_file = pd.read_csv("pokemon_data.csv", index_col= 0)

In [6]:
read_csv_file.tail(10)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
#3 Panel