# Giới thiệu
Vào một buổi chiều đẹp trời, lớp MIS khóa 2018 được yêu cầu chơi trò Khủng long. Hôm nay, trong bài thực hành này, chúng ta cùng phân tích kết quả đạt được.

# Dữ liệu
Dữ liệu được lưu trữ trong file `dinosaur.csv` với các cột :
- `name` : họ và tên.
- `gender` : giới tính (`M` là nam, `F` là nữ).
- `t1`, `t2`, ..., `t10` : điểm lần chơi thứ nhất, thứ 2, ..., thứ 10.

# Lời cảm ơn
Cảm ơn các bạn đã giúp tôi có được dữ liệu cho bài thực hành này. ❤❤❤

Những bạn có tên trong danh sách sau sẽ được cộng $0.5$ điểm cho bài thực hành :
- Lê Đình Doanh
- Huỳnh Ngọc Trinh
- Cao Duy Hiếu
- Thuận Thị Thảo Vân
- Nguyễn Hoài Nam
- Nguyễn Thành Luân
- Vũ Thị Thanh Nga
- Nguyễn Dĩ Khan
- Lương Thế Nam
- Nguyễn Quốc Đăng Khoa
- Nguyễn Duy Tuấn
- Phan Hoàng Kim
- Nguyễn Phong Phú
- Nguyễn Khắc Tưởng
- Nguyễn Duy Nam
- Võ Thị Diễm Quyên
- Lâm Quang Tĩnh
- Nguyễn Hoàng Tuấn
- Phạm Văn Thọ
- Phạm Thị Kim Ngân

# Bài tập

**Câu 1** : Đọc dữ liệu vào `DataFrame`.

In [69]:
import pandas as pd

dino = pd.read_csv('https://raw.githubusercontent.com/Levytan/MIS.2019/master/Data/dinosaur.csv')
dino

,name,gender,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10
0,Lê Đình Doanh,M,1673,586,259,764,1859,533,184,264,504,350
1,Huỳnh Ngọc Trinh,F,507,615,765,864,2170,1277,2141,975,761,2619
2,Cao Duy Hiếu,M,925,1548,114,332,108,539,74,999,2060,65
3,Thuận Thị Thảo Vân,F,308,660,1162,1919,1006,170,206,211,239,198
4,Nguyễn Hoài Nam,M,55,521,1327,86,70,44,132,254,44,738
5,Nguyễn Thành Luân,M,52,91,113,134,43,186,202,283,286,382
6,Vũ Thị Thanh Nga,F,88,85,58,175,124,227,184,143,291,228
7,Nguyễn Dĩ Khan,M,100,98,160,76,146,64,97,59,151,42
8,Lương Thế Nam,M,1172,706,681,552,950,151,905,174,301,325
9,Nguyễn Quốc Đăng Khoa,M,43,51,50,135,171,53,53,450,69,42
10,Nguyễn Duy Tuấn,M,561,340,52,2981,235,184,215,351,45,701
11,Phan Hoàng Kim,M,41,50,52,30,78,47,83,109,50,31
12,Nguyễn Phong Phú,M,42,47,42,42,42,42,42,42,42,42
13,Nguyễn Khắc Tưởng,M,776,287,1252,302,598,342,932,731,136,385
14,Nguyễn Duy Nam,M,43,121,42,119,59,131,59,116,52,52
15,Võ Thị Diễm Quyên,F,870,1025,1168,1086,544,101,846,1786,1120,574
16,Lâm Quang Tĩnh,M,44,70,56,1327,521,738,55,44,254,132
17,Nguyễn Hoàng Tuấn,M,3734,310,3284,2862,1526,5137,2471,1985,362,325
18,Phạm Văn Thọ,M,108,330,273,314,588,321,738,234,1310,824
19,Phạm Thị Kim Ngân,F,80,142,48,340,388,465,229,284,42,487

**Câu 2** : Trong dữ liệu trên, có bao nhiêu nam, bao nhiêu nữ.

In [70]:
dino.gender.value_counts()

M    15
F     5
Name: gender, dtype: int64

**Câu 3** : In ra dữ liệu của chính bạn, nếu không có thì in ra dữ liệu của một bạn bất kỳ mà bạn thích.

In [79]:
dino[dino.name.isin(['Lê Đình Doanh'])]

            name gender    t1   t2   t3   t4    t5   t6   t7   t8   t9  t10
0  Lê Đình Doanh      M  1673  586  259  764  1859  533  184  264  504  350

**Câu 4 (1 điểm)** : In ra dữ liệu của những bạn có **tên** bắt đầu bằng chữ `N`. Quy ước : tên một người là từ cuối cùng trong họ và tên đầy đủ của người đó. Ví dụ `Huỳnh Ngọc Trinh` có tên là `Trinh`, `Nguyễn Quốc Đăng Khoa` có tên là `Khoa`.

---
_Gợi ý_ : dùng `.str.split()` để tách tên.

In [72]:
name = pd.concat([dino.name, pd.Series([i[-1] for i in dino.name.str.split().values])], axis = 1).rename(columns = {0 : 'last_name'})
dino[name.last_name.str[0] == 'N']

,name,gender,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10
4,Nguyễn Hoài Nam,M,55,521,1327,86,70,44,132,254,44,738
6,Vũ Thị Thanh Nga,F,88,85,58,175,124,227,184,143,291,228
8,Lương Thế Nam,M,1172,706,681,552,950,151,905,174,301,325
14,Nguyễn Duy Nam,M,43,121,42,119,59,131,59,116,52,52
19,Phạm Thị Kim Ngân,F,80,142,48,340,388,465,229,284,42,487

**Câu 5** : In ra số điểm lớn nhất từng lần chơi.

In [73]:
dino.max(numeric_only = True)

t1     3734
t2     1548
t3     3284
t4     2981
t5     2170
t6     5137
t7     2471
t8     1985
t9     2060
t10    2619
dtype: int64

**Câu 6** : In ra thống kê mô tả về điểm số của chính bạn, nếu không có thì làm tương tự **Câu 3**.

In [127]:
dino[dino.name.isin(['Lê Đình Doanh'])].transpose().describe()

          0
count    13
unique   13
top     350
freq      1

**Câu 7** : Tạo cột `avg` để lưu điểm trung bình từng người.

In [83]:
dino = dino.assign(avg = dino.mean(axis = 'columns'))
dino

,name,gender,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,avg
0,Lê Đình Doanh,M,1673,586,259,764,1859,533,184,264,504,350,697.6
1,Huỳnh Ngọc Trinh,F,507,615,765,864,2170,1277,2141,975,761,2619,1269.4
2,Cao Duy Hiếu,M,925,1548,114,332,108,539,74,999,2060,65,676.4
3,Thuận Thị Thảo Vân,F,308,660,1162,1919,1006,170,206,211,239,198,607.9
4,Nguyễn Hoài Nam,M,55,521,1327,86,70,44,132,254,44,738,327.1
5,Nguyễn Thành Luân,M,52,91,113,134,43,186,202,283,286,382,177.2
6,Vũ Thị Thanh Nga,F,88,85,58,175,124,227,184,143,291,228,160.3
7,Nguyễn Dĩ Khan,M,100,98,160,76,146,64,97,59,151,42,99.3
8,Lương Thế Nam,M,1172,706,681,552,950,151,905,174,301,325,591.7
9,Nguyễn Quốc Đăng Khoa,M,43,51,50,135,171,53,53,450,69,42,111.7
10,Nguyễn Duy Tuấn,M,561,340,52,2981,235,184,215,351,45,701,566.5
11,Phan Hoàng Kim,M,41,50,52,30,78,47,83,109,50,31,57.1
12,Nguyễn Phong Phú,M,42,47,42,42,42,42,42,42,42,42,42.5
13,Nguyễn Khắc Tưởng,M,776,287,1252,302,598,342,932,731,136,385,574.1
14,Nguyễn Duy Nam,M,43,121,42,119,59,131,59,116,52,52,79.4
15,Võ Thị Diễm Quyên,F,870,1025,1168,1086,544,101,846,1786,1120,574,912.0
16,Lâm Quang Tĩnh,M,44,70,56,1327,521,738,55,44,254,132,324.1
17,Nguyễn Hoàng Tuấn,M,3734,310,3284,2862,1526,5137,2471,1985,362,325,2199.6
18,Phạm Văn Thọ,M,108,330,273,314,588,321,738,234,1310,824,504.0
19,Phạm Thị Kim Ngân,F,80,142,48,340,388,465,229,284,42,487,250.5

**Câu 8** : Tính điểm trung bình toàn bộ lớp.

---
_Gợi ý_ : Điểm trung bình cả lớp chính là trung bình cộng của điểm trung bình của từng người.

In [82]:
avg_class = dino.avg.mean()
avg_class

511.4200000000001

**Câu 9** : In ra những bạn có điểm trung bình cao hơn điểm trung bình cả lớp.

In [84]:
dino[dino.avg > avg_class]

,name,gender,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,avg
0,Lê Đình Doanh,M,1673,586,259,764,1859,533,184,264,504,350,697.6
1,Huỳnh Ngọc Trinh,F,507,615,765,864,2170,1277,2141,975,761,2619,1269.4
2,Cao Duy Hiếu,M,925,1548,114,332,108,539,74,999,2060,65,676.4
3,Thuận Thị Thảo Vân,F,308,660,1162,1919,1006,170,206,211,239,198,607.9
8,Lương Thế Nam,M,1172,706,681,552,950,151,905,174,301,325,591.7
10,Nguyễn Duy Tuấn,M,561,340,52,2981,235,184,215,351,45,701,566.5
13,Nguyễn Khắc Tưởng,M,776,287,1252,302,598,342,932,731,136,385,574.1
15,Võ Thị Diễm Quyên,F,870,1025,1168,1086,544,101,846,1786,1120,574,912.0
17,Nguyễn Hoàng Tuấn,M,3734,310,3284,2862,1526,5137,2471,1985,362,325,2199.6

**Câu 10** : Tính điểm trung bình các bạn nam và các bạn nữ.

In [154]:
avg_M = dino[dino.gender.isin(['M'])].avg.mean()
avg_F = dino[dino.gender.isin(['F'])].avg.mean()
print(avg_M)
print(avg_F)

468.5533333333333
640.0199999999999

Trong phần này, chúng ta dùng công thức sau đây để xếp hạng mọi người 

$
score = \frac{\ln\overline{s}}{1 + \sigma}
$

Trong đó :
- $score$ là điểm số dùng để xếp hạng.
- $\ln(x)$ là logarit tự nhiên.
- $\overline{s}$ là điểm trung bình của người chơi.
- $\sigma$ là độ lệch chuẩn của dữ liệu.

Lưu ý : Công thức này được tạo ra để thực hành.

**Câu 11** : Tính $\ln{\overline{s}}$ từ cột `avg`.

---
_Gợi ý_ : dùng `.apply()` và `math.log()` (`import math`).

In [167]:
import math
def ln(_):
    return math.log(_)
lns = dino.avg.apply(ln)
lns

0     6.547646
1     7.146300
2     6.516785
3     6.410010
4     5.790266
5     5.177279
6     5.077047
7     4.598146
8     6.383000
9     4.715817
10    6.339477
11    4.044804
12    3.749504
13    6.352804
14    4.374498
15    6.815640
16    5.781052
17    7.696031
18    6.222576
19    5.523459
Name: avg, dtype: float64

**Câu 12** : Tính độ lệch chuẩn trong dữ liệu của từng người.

In [171]:
o = dino.drop(['avg'], axis = 1).std(axis = 1)
o

512.1823828121754

**Câu 13** : Tạo cột `score` với giá trị được cho bởi công thức trên.

In [169]:
dino = dino.assign(score = lns/(1 + o))
dino

,name,gender,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,avg,score
0,Lê Đình Doanh,M,1673,586,259,764,1859,533,184,264,504,350,697.6,0.010911
1,Huỳnh Ngọc Trinh,F,507,615,765,864,2170,1277,2141,975,761,2619,1269.4,0.008765
2,Cao Duy Hiếu,M,925,1548,114,332,108,539,74,999,2060,65,676.4,0.009423
3,Thuận Thị Thảo Vân,F,308,660,1162,1919,1006,170,206,211,239,198,607.9,0.010929
4,Nguyễn Hoài Nam,M,55,521,1327,86,70,44,132,254,44,738,327.1,0.013987
5,Nguyễn Thành Luân,M,52,91,113,134,43,186,202,283,286,382,177.2,0.043191
6,Vũ Thị Thanh Nga,F,88,85,58,175,124,227,184,143,291,228,160.3,0.058651
7,Nguyễn Dĩ Khan,M,100,98,160,76,146,64,97,59,151,42,99.3,0.091633
8,Lương Thế Nam,M,1172,706,681,552,950,151,905,174,301,325,591.7,0.016844
9,Nguyễn Quốc Đăng Khoa,M,43,51,50,135,171,53,53,450,69,42,111.7,0.037502
10,Nguyễn Duy Tuấn,M,561,340,52,2981,235,184,215,351,45,701,566.5,0.007486
11,Phan Hoàng Kim,M,41,50,52,30,78,47,83,109,50,31,57.1,0.132984
12,Nguyễn Phong Phú,M,42,47,42,42,42,42,42,42,42,42,42.5,0.278426
13,Nguyễn Khắc Tưởng,M,776,287,1252,302,598,342,932,731,136,385,574.1,0.016986
14,Nguyễn Duy Nam,M,43,121,42,119,59,131,59,116,52,52,79.4,0.100534
15,Võ Thị Diễm Quyên,F,870,1025,1168,1086,544,101,846,1786,1120,574,912.0,0.013378
16,Lâm Quang Tĩnh,M,44,70,56,1327,521,738,55,44,254,132,324.1,0.013910
17,Nguyễn Hoàng Tuấn,M,3734,310,3284,2862,1526,5137,2471,1985,362,325,2199.6,0.004594
18,Phạm Văn Thọ,M,108,330,273,314,588,321,738,234,1310,824,504.0,0.016425
19,Phạm Thị Kim Ngân,F,80,142,48,340,388,465,229,284,42,487,250.5,0.031055

**Câu 14** : In ra 3 người có `score` lớn nhất.

In [170]:
dino.sort_values(by = 'score', ascending = False).head(3)

,name,gender,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,avg,score
12,Nguyễn Phong Phú,M,42,47,42,42,42,42,42,42,42,42,42.5,0.278426
11,Phan Hoàng Kim,M,41,50,52,30,78,47,83,109,50,31,57.1,0.132984
14,Nguyễn Duy Nam,M,43,121,42,119,59,131,59,116,52,52,79.4,0.100534

**Câu 15 (1 điểm)** : Tạo một `DataFrame` mới với các cột sau :
- `trial` : gồm các giá trị từ $1, 2, \cdots, 10$.
- `name` : tên người chơi đạt điểm cao nhất trong lần chơi tương ứng với `trial`.
- `score` : điểm số cao nhất.

---
_Gợi ý_ : tạo `DataFrame` thích hợp với từng lần chơi rồi dùng `pd.concat()`.

In [243]:
max_S = list(dino.drop(['score', 'avg'], axis = 1).max(numeric_only = True).values)
max1 = dino[dino.t1 == dino.t1.max()].name.values[0]
max2 = dino[dino.t2 == dino.t2.max()].name.values[0]
max3 = dino[dino.t3 == dino.t3.max()].name.values[0]
max4 = dino[dino.t4 == dino.t4.max()].name.values[0]
max5 = dino[dino.t5 == dino.t5.max()].name.values[0]
max6 = dino[dino.t6 == dino.t6.max()].name.values[0]
max7 = dino[dino.t7 == dino.t7.max()].name.values[0]
max8 = dino[dino.t8 == dino.t8.max()].name.values[0]
max9 = dino[dino.t9 == dino.t9.max()].name.values[0]
max10 = dino[dino.t10 == dino.t10.max()].name.values[0]
name = [max1, max2, max3, max4, max5, max6, max7, max8, max9, max10]

In [246]:
max_score = pd.DataFrame(
{
    'trial' : [i for i in range(1, 11)],
    'score': [i for i in max_S],
    'name' : [i for i in name]
})
max_score

                name  score  trial
0  Nguyễn Hoàng Tuấn   3734      1
1       Cao Duy Hiếu   1548      2
2  Nguyễn Hoàng Tuấn   3284      3
3    Nguyễn Duy Tuấn   2981      4
4   Huỳnh Ngọc Trinh   2170      5
5  Nguyễn Hoàng Tuấn   5137      6
6  Nguyễn Hoàng Tuấn   2471      7
7  Nguyễn Hoàng Tuấn   1985      8
8       Cao Duy Hiếu   2060      9
9   Huỳnh Ngọc Trinh   2619     10