In [1]:
import pandas as pd
import numpy as np

In [37]:
#Data frame: mảng 2 chiều có gắn nhãn(đối tượng chính của môn học)
'''
Gồm nhiều Series cũng chung label ghép lại với nhau
'''
pkm = pd.read_csv('Study/Week1/pokemon_data.csv', index_col= 0) 
pkm.head(10)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [38]:
pd.DataFrame({'ID' : [1 , 2, 3],'Product' : ['Apple', 'Banana', 'Cherry'], 'Price' : [10, 9, 8]}) #không chỉ ra index vs column tự sinh ra

   ID Product  Price
0   1   Apple     10
1   2  Banana      9
2   3  Cherry      8

In [ ]:
pd.DataFrame(data, index, columns)

In [39]:
#list của list
ll = [
    ['apple', 10],
    ['banana', 25],
    ['cherry', 40]
]
pd.DataFrame(ll)

        0   1
0   apple  10
1  banana  25
2  cherry  40

In [40]:
pd.DataFrame(data = ll, index= ['a', 'b' ,'c'], columns= ['name', 'price'])

     name  price
a   apple     10
b  banana     25
c  cherry     40

In [41]:
ll1 = [
    ['apple', 10, 5],
    ['banana', 25],
    ['cherry', 40]
]
pd.DataFrame(ll1)

        0   1    2
0   apple  10  5.0
1  banana  25  NaN
2  cherry  40  NaN

In [42]:
#dictionary: 
'''phải có độ dài phần tử bằng nhau'''
d1 = {
    'col1' : ['apple', 'banana'],
    'col2' : [1, 2],
    'col3' : ['2019-10-02', '2019-11-01']
}
pd.DataFrame(d1)

     col1  col2        col3
0   apple     1  2019-10-02
1  banana     2  2019-11-01

In [43]:
d2 = {
    'col1' : ['apple', 'banana', 'cherry'],
    'col2' : [1, 2],
    'col3' : ['2019-10-02', '2019-11-01']
}
pd.DataFrame(d2)

ValueError: arrays must all be same length

In [44]:
#tạo list mà mỗi phần tử là một dictionary
ld = [
    {'date' : '2019-10-01', 'Ticker' : 'AAA', 'Close' : 100},
    {'date' : '2019-10-01', 'Ticker' : 'BBB', 'Close' : 200}
]
pd.DataFrame(ld)

   Close Ticker        date
0    100    AAA  2019-10-01
1    200    BBB  2019-10-01

In [45]:
ld2 = [
    {'date' : '2019-10-01', 'Ticker' : 'AAA', 'Close' : 100},
    {'date' : '2019-10-01', 'Ticker' : 'BBB', 'open' : 205, 'Close' : 200}
]
pd.DataFrame(ld2)

   Close Ticker        date   open
0    100    AAA  2019-10-01    NaN
1    200    BBB  2019-10-01  205.0

In [46]:
pd.DataFrame(columns= ['a', 'b', 'c']).empty

True

In [47]:
pd.DataFrame(index= ['a', 'b', 'c']).empty

True

In [48]:
pd.DataFrame(columns= ['a', 'b', 'c'], index= ['a', 'b', 'c']).empty

False

In [49]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [24]:
#dataframe mẫu:
Dict_ex = {
    'Date' : pd.date_range(start = '2019-11-20', periods = 10, freq = 'D'),
    'Name' : np.random.choice(['apple', 'banana', 'cherry'], size = 10),
    'Số lượng' : np.random.randint(100, size = 10)
}
DF_ex = pd.DataFrame(Dict_ex, index= list('abcdefghij'))
DF_ex

        Date    Name  Số lượng
a 2019-11-20  cherry        77
b 2019-11-21   apple        23
c 2019-11-22  cherry        22
d 2019-11-23  banana        79
e 2019-11-24   apple        72
f 2019-11-25  banana        90
g 2019-11-26  cherry        45
h 2019-11-27   apple        78
i 2019-11-28   apple        21
j 2019-11-29  banana        92

In [52]:
''' 
Một số thuộc tính cơ bản:
.size: trả về số lượng phần tử dataframe
.shape: trả về kích thước dataframe cới định dạng(cột, hàng)
.ndim trả về số chiều của dataframe. vì dataframe là mảng 2 chiều, nên kết quả trả về luôn là 2
.empty: trả về True or False nếu dataframe là rỗng
.dtypes: trả về kiểu dữ liệu từng cột
.columns: trả về danh sách các cột của dataframe
.index: trả về index
.axes: kết hợp columns and index: trả về 1 list với dòng trước cột sau
'''

' \nMột số thuộc tính cơ bản:\n.size: trả về số lượng phần tử dataframe\n.shape: trả về kích thước dataframe cới định dạng(cột, hàng)\n.ndim trả về số chiều của dataframe. vì dataframe là mảng 2 chiều, nên kết quả trả về luôn là 2\n.empty: trả về True or False nếu dataframe là rỗng\n.dtypes: trả về kiểu dữ liệu từng cột\n.columns: trả về danh sách các cột của dataframe\n.index: trả về index\n.axes: kết hợp columns and index: trả về 1 list với dòng trước cột sau\n'

In [ ]:
#đổi tên:
method: .rename()
<tên_DF>.rename(index = {<tên_dòng_cũ> : <tên_dòng_mới>})

In [53]:
#Ex đổi col1 thành date
DF_ex.rename(columns= {'col1' : 'date'})
'''nếu không có inplace = True thì rename sẽ tạo df mới chứ không đối tên trong df cũ'''
DF_ex = DF_ex.rename(columns= {'col1' : 'date'})
#hoặc
DF_ex.rename(columns= {'col1' : 'date'}, inplace = True)

        date    col2  col3
a 2019-11-20   apple    89
b 2019-11-21  cherry     9
c 2019-11-22  banana    67
d 2019-11-23  cherry    43
e 2019-11-24  banana    98
f 2019-11-25  cherry    47
g 2019-11-26   apple    50
h 2019-11-27   apple    65
i 2019-11-28  cherry    83
j 2019-11-29   apple    19

In [ ]:
#đổi tên nhanh hàng loạt
<tên_DF>.columns = <Danh_sách_tên_cột_mới>
<tên_DF>.index = <Danh_sách_tên_dòng_mới>

In [56]:
DF_ex2 = DF_ex.copy() # nếu không .copy mà gán bằng thì khi đổi ex2 thì ex cũng có thể bị đổi
DF_ex2.columns = ['Date', 'Product', 'Quantity']
DF_ex2

        Date Product  Quantity
a 2019-11-20   apple        89
b 2019-11-21  cherry         9
c 2019-11-22  banana        67
d 2019-11-23  cherry        43
e 2019-11-24  banana        98
f 2019-11-25  cherry        47
g 2019-11-26   apple        50
h 2019-11-27   apple        65
i 2019-11-28  cherry        83
j 2019-11-29   apple        19

In [57]:
#Trích xuất dữ liệu theo cột
#trích xuất 1 cột
DF_ex['col1'] # DF_ex.col1

a   2019-11-20
b   2019-11-21
c   2019-11-22
d   2019-11-23
e   2019-11-24
f   2019-11-25
g   2019-11-26
h   2019-11-27
i   2019-11-28
j   2019-11-29
Name: col1, dtype: datetime64[ns]

In [62]:
type(DF_ex['col1'])

pandas.core.series.Series

In [63]:
#tích xuất nhiều cột
DF_ex[['col1', 'col2']]

        col1    col2
a 2019-11-20   apple
b 2019-11-21  cherry
c 2019-11-22  banana
d 2019-11-23  cherry
e 2019-11-24  banana
f 2019-11-25  cherry
g 2019-11-26   apple
h 2019-11-27   apple
i 2019-11-28  cherry
j 2019-11-29   apple

In [65]:
type(DF_ex[['col1']])

pandas.core.frame.DataFrame

In [67]:
#note:
print(DF_ex['col1'].ndim) #Series
print(DF_ex[['col1']].ndim) #DataFrame

1
2

In [ ]:
#trích xuất dữ liệu theo dòng:
DF_ex['a'] #lỗi cách này dùng trích xuất cột nên không thể trích xuất dòng
Method: .loc and . iloc
.loc[]: lấy dòng theo label
.iloc[]: lấy dữ liệu theo số thứ tự bắt đầu từ 0

In [70]:
#ex:
DF_ex.loc['a'] #Series

col1    2019-11-20 00:00:00
col2                  apple
col3                     89
Name: a, dtype: object

In [71]:
DF_ex.iloc[2] #Series

col1    2019-11-22 00:00:00
col2                 banana
col3                     67
Name: c, dtype: object

In [76]:
#trích xuất nhiều dòng:
DF_ex.loc[['a', 'c']] #DataFrame

        col1    col2  col3
a 2019-11-20   apple    89
c 2019-11-22  banana    67

In [77]:
DF_ex.iloc[0: 10 : 3] #DataFrame [vị trí bắt đầu : vị trí kết thúc : step]

        col1    col2  col3
a 2019-11-20   apple    89
d 2019-11-23  cherry    43
g 2019-11-26   apple    50
j 2019-11-29   apple    19

In [ ]:
#Trích xuất theo cả dòng lẫn cột
method: .loc
<tên_df>.loc[<dòng_cần_lấy>, <cột cần lấy>]
tương tự .iloc[]

In [96]:
DF_ex.loc[['a', 'c'], ['col2', 'col3']]
DF_ex.loc[ :, ['col2', 'col3']]

     col2  col3
a   apple    89
b  cherry     9
c  banana    67
d  cherry    43
e  banana    98
f  cherry    47
g   apple    50
h   apple    65
i  cherry    83
j   apple    19

In [98]:
DF_ex.iloc[[0 , 5], [1, 2]]
DF_ex.iloc[ :, [1, 2]]

     col2  col3
a   apple    89
b  cherry     9
c  banana    67
d  cherry    43
e  banana    98
f  cherry    47
g   apple    50
h   apple    65
i  cherry    83
j   apple    19

In [ ]:
trích xuất có điều kiện
<tên_df>[điều_kiện]

In [99]:
DF_ex[DF_ex.col2 == 'apple'] #điều kiện đơn

        col1   col2  col3
a 2019-11-20  apple    89
g 2019-11-26  apple    50
h 2019-11-27  apple    65
j 2019-11-29  apple    19

In [ ]:
#điều kiện kép
&: and
|: or
và điều kiện phải trong ngoặc

In [100]:
DF_ex[(DF_ex.col2 == 'apple') & ((DF_ex.col1 == '2019-11-20') | (DF_ex.col2 == 'banana'))]

        col1   col2  col3
a 2019-11-20  apple    89

In [4]:
df1 = pd.read_csv('Study/Week1/pokemon_data.csv', index_col =0)
df1.reset_index(inplace = True)

In [3]:
#Thay đổi index <dataframe>.index = <index mới>
df2 = pd.DataFrame([['apple', 10],
    ['banana', 25],
    ['cherry', 40]])
df2

        0   1
0   apple  10
1  banana  25
2  cherry  40

In [ ]:
#đặt một cột thành index: .set_index()
df2.set_index()
#đặt lại index: .reset_index()
df2.reset_index()
#tham số drop báo có giữ lại index cũ hay không nếu False thì tạo index là 1 cột mới giữ index cũ, True xoá index cũ đi thay bằng index mới
#sắp xếp lại theo thứ tự index: .sort_index()
df1.sort_index(ascending=) #ascending= False sắp xếp giảm dần
#biến đổi dataframe bằng .reindex(): Toạ ra df mới có cấu trúc: tên dòng đi theo thứ tự được chỉ ra, tên cột đi theo thứ tự được chỉ ra, giá trị tương ứng trong df gốc nếu không có thì dùng giá trị Null(NaN)

In [5]:
df1.reindex(columns= ['HP', 'Name'], index= [1, 2, 3])

   HP                   Name
1  60                Ivysaur
2  80               Venusaur
3  80  VenusaurMega Venusaur

In [8]:
pd.concat([DF_ex, df2], join = 'inner')

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h, i, j, 0, 1, 2]

In [16]:
#kết hợp data bằng merge
df4 = pd.DataFrame({'date' : ['2019-10-25', '2019-10-26', '2019-10-27'],
'Name' : ['apple', 'banana', 'cherry'],
'đã mua' : [39, 52, 17]})
df4

         date    Name  đã mua
0  2019-10-25   apple      39
1  2019-10-26  banana      52
2  2019-10-27  cherry      17

In [18]:
df5 = pd.DataFrame({'Name' : ['apple', 'banana', 'cherry'],
'price' : [10 , 15 , 20]})
df5

     Name  price
0   apple     10
1  banana     15
2  cherry     20

In [26]:
DF_ex

        Date    Name  Số lượng
a 2019-11-20  cherry        77
b 2019-11-21   apple        23
c 2019-11-22  cherry        22
d 2019-11-23  banana        79
e 2019-11-24   apple        72
f 2019-11-25  banana        90
g 2019-11-26  cherry        45
h 2019-11-27   apple        78
i 2019-11-28   apple        21
j 2019-11-29  banana        92

In [29]:
pd.merge(DF_ex, df5)

        Date    Name  Số lượng  price
0 2019-11-20  cherry        77     20
1 2019-11-22  cherry        22     20
2 2019-11-26  cherry        45     20
3 2019-11-21   apple        23     10
4 2019-11-24   apple        72     10
5 2019-11-27   apple        78     10
6 2019-11-28   apple        21     10
7 2019-11-23  banana        79     15
8 2019-11-25  banana        90     15
9 2019-11-29  banana        92     15