Như đã giới thiệu trong bài học, ngoài việc có thể thay đổi label của một `Series`. Bạn hoàn toàn có thể thay đổi kiểu dữ liệu của một `Series` để phục vụ cho mục đích của mình.<br>
Trong bài thực hành này, bạn sẽ học được cách thực hiện 2 việc chuyển đổi thường gặp nhất, đó là :
1. Chuỗi số thành số
2. Chuỗi ngày tháng thành kiểu dữ liệu thời gian.

Trước khi bắt đầu, hãy import những thư viện cần thiết nhé!

In [66]:
# Đây là ô để import những thư viện cho bài tập
import pandas as pd
# Link: https://github.com/Levytan/MIS.2019

## Ôn tập

`pandas.Series` có hỗ trợ những `dtype` sau :
1. Kiểu số : `int`, `float`
2. Kiểu thời gian : `datetime64`, `timedelta64`
3. Kiểu boolean : `bool`

Tuy nhiên, `Series` không dùng kiểu `str` cho chuỗi ký tự mà dùng kiểu `object`.

## Chuyển đổi từ chuỗi số thành kiểu số

**Câu 1** : Tạo một `Series`, đặt tên là `s1` với dữ liệu được lấy từ file `data_1.txt` trong thư mục `Data`, không cần chỉ ra `label`

In [67]:
# Viết code ở đây : 
with open ('data_1.txt') as file:
    s1 = pd.Series(data = file.readline().split(','))
s1

0    53
1    95
2    65
3    28
4     6
5    90
6    15
7    95
8     0
9    37
dtype: object

**Câu 2** : In ra `dtype` của `s1`

In [68]:
# Viết code ở đây :
s1.dtype

dtype('O')

**Lưu ý**

Nếu bạn in ra được `dtype('O')` thì có thể bỏ qua phần này.

Nếu không, xin vui lòng chạy câu lệnh sau :
```
s1[s1.size] = '100'
```

In [65]:
# Ô này dành cho Lưu ý

Lúc này, `s1` có kiểu dữ liệu là `object`. Tuy nhiên, với kiểu dữ liệu này, bạn không thể dùng được các phương thức thống kê như `.min()`, `.max()`, `.mean()`, ...

Vì vậy chúng ta cần phải chuyển đổi kiểu dữ liệu về dạng số và chúng ta có thể thực hiện bằng cách gọi hàm `pandas.to_numeric()`. 

Cú pháp hàm như sau :
```
pandas.to_numeric(<args>, errors = 'raise')
```
Trong đó :
- `<arg>` là Series cần chuyển đổi
- errors là cách mà `pandas.to_numeric()` hành xử khi gặp giá trị không thể chuyển đổi được. Bao gồm 3 giá trị sau : 
    * `'raise'` : báo lỗi, đây là giá trị mặc định
    * `'coerse'` : giá trị không chuyển đổi được sẽ thành `NaN`
    * `'ignore'` : giá trị không chuyển đổi được sẽ giữ nguyên

**Câu 3**: Hãy chuyển đổi kiểu dữ liệu của `s1` về kiểu số.

In [69]:
# Viết code chuyển đổi ở đây :
s1 = pd.to_numeric(s1, errors = 'raise')
s1

0    53
1    95
2    65
3    28
4     6
5    90
6    15
7    95
8     0
9    37
dtype: int64

In [70]:
# Kiểm tra lại việc chuyển đổi bằng cách in lại kiểu dữ liệu của s1
s1.dtype

dtype('int64')

## Chuyển đổi từ chuỗi ngày tháng thành kiểu thời gian

Tương tự cho việc chuyển đổi thành kiểu số, chuyển đổi thành kiểu thời gian có thể thực hiện thông qua hàm `pandas.to_datetime()` với cú pháp 
```
pandas.to_numeric(<args>, errors = 'raise', format = None)
```
Trong đó :
- `<arg>` là Series cần chuyển đổi
- errors là cách mà `pandas.to_datetime()` hành xử khi gặp giá trị không thể chuyển đổi được. Bao gồm 3 giá trị sau :
    - `'raise'` : báo lỗi, đây là giá trị mặc định
    - `'coerse'` : giá trị không chuyển đổi được sẽ thành `NaT` (Not a Time)
    - `'ignore'` : giá trị không chuyển đổi được sẽ giữ nguyên
- format là định dạng của chuỗi ngày tháng truyền vào, theo chuẩn <a href = "http://strftime.org/">sau</a>. (mặc định None, tức là python sẽ tự xác định định dạng)

Ví dụ, định dạng của `2019-05-20` là `%Y-%m-%d`, định dạng của `23:30:15 13/11/2019` là `%H:%M:%S %d/%m/%Y`

**Câu 4** : Tạo `Series`, đặt tên là `s2` với dữ liệu từ file `data_2.txt` trong thư mục `Data` và thực hiện việc chuyển đổi

In [71]:
# Tạo Series ở đây
with open ('data_2.txt') as file:
    s2 = pd.Series(data = file.readlines())
s2

0    30-12-2018\n
1    20-03-2019\n
2    28-09-2018\n
3    24-11-2018\n
4    06-10-2018\n
5    26-10-2018\n
6    05-02-2019\n
7    09-12-2018\n
8    23-01-2019\n
9    09-01-2019\n
dtype: object

In [72]:
# In kiểu dữ liệu trước khi chuyển đổi
s2.dtype

dtype('O')

In [75]:
# Chuyển đổi tại đây
s2 = pd.to_datetime(s2, errors = 'raise', format = None)
s2

0   2018-12-30
1   2019-03-20
2   2018-09-28
3   2018-11-24
4   2018-06-10
5   2018-10-26
6   2019-05-02
7   2018-09-12
8   2019-01-23
9   2019-09-01
dtype: datetime64[ns]

In [76]:
# In kiểu dữ liệu sau khi chuyển đổi
s2.dtype

dtype('<M8[ns]')