## Giới thiệu
Trong bài thực hành này, các bạn sẽ làm việc với giá trị `NaN`

## Giá trị `NaN`
- `NaN` là một giá trị đặc biệt của python, được tạo ra bằng câu lệnh `float('NaN')` hoặc `float('nan')`
- `NaN` là viết tắt của <b>N</b>ot <b>a</b> <b>N</b>umber (không phải số)
- Tuy `NaN` nghĩa là không phải số, nhưng kiểu của nó là `numeric`

In [1]:
type(float('nan'))

float

* Trong các phép toán số học, nếu có bất kỳ hạng tử nào có giá trị `NaN`, kết quả của phép toán sẽ là `NaN`

In [2]:
print(1 + float('nan'))
print(2.0 - float('nan'))
print(-6 * float('nan'))

nan
nan
nan

- `NaN` là giá trị duy nhất làm cho phép so sánh `x != x` trả về `True`
- Các phép so sánh khác như $>, <, >=, =<, ==$ đều trả về `False`

In [3]:
float('nan') != float('nan')

True

## Ý nghĩa của `NaN`

`NaN` thường dùng để diễn tả dữ liệu bị thiếu (có thể do nhập liệu hoặc dữ liệu không tồn tại)

Trong `pandas` và `pandas.Series` có khá nhiều hàm và phương thức để làm việc với giá trị `NaN`

## Bài tập

In [2]:
# import thư viện ở đây
import numpy as np
import pandas as pd

**Câu 1** : Tạo Series `s3` từ dữ liệu chứa trong `data_3.txt`, thực hiện việc chuyển đổi kiểu dữ liệu thành kiểu số

In [104]:
# Câu 1 
with open ('data_3.txt') as file:
    s3 = pd.Series(data = file.readline().split(','))
s3 = pd.to_numeric(s3, errors = 'coerse')
s3

0       991.0
1      2677.0
2      3631.0
3      4775.0
4      7925.0
5      2530.0
6      1534.0
7      5664.0
8      8773.0
9      8650.0
10     4040.0
11     9179.0
12     9373.0
13     9670.0
14     6654.0
15     5599.0
16     5482.0
17      372.0
18     8039.0
19     3769.0
20     2694.0
21     6798.0
22     1037.0
23      853.0
24     2825.0
25     2425.0
26     1866.0
27     6799.0
28      822.0
29     1252.0
        ...
471    5705.0
472    6404.0
473    4765.0
474    2668.0
475    9681.0
476    2075.0
477    3213.0
478    2188.0
479    3461.0
480    8963.0
481    5488.0
482    8065.0
483    3495.0
484    7232.0
485    3132.0
486    7949.0
487    8532.0
488    1622.0
489    4906.0
490    3313.0
491    4256.0
492    7535.0
493    7837.0
494    9330.0
495    9149.0
496    9473.0
497    1646.0
498     874.0
499    1469.0
500    6016.0
dtype: float64

**Câu 2** : Có bao nhiêu phần tử là `NaN` trong `s3`?

In [105]:
# Câu 2
#1
s3.size - s3.count() 
#2
pd.isnull(s3).sum()

11

**Câu 3** : In ra `label` của những giá trị `NaN`.

*Gợi ý* : tìm hiểu về `pandas.isnull()`

In [126]:
# Câu 3
print('Label của những giá trị NaN:')
print([i for i ,v in s3[s3 != s3].items()])

Label của những giá trị NaN:
[76, 93, 206, 208, 217, 321, 330, 366, 410, 430, 434]

76    NaN
93    NaN
206   NaN
208   NaN
217   NaN
321   NaN
330   NaN
366   NaN
410   NaN
430   NaN
434   NaN
dtype: float64

Để thay thế giá trị `NaN` (kiểu như điền vào chỗ trống), `pandas.Series` có một phương thức là `.fillna()` với cú pháp (chỉ lấy 2 tham số quan trọng nhất)
```
<tên Series>.fillna(value = None, method = None)
```
Trong đó :
- value : giá trị bạn muốn để thay thế `NaN`
- method : nếu bạn không muốn dùng giá trị cụ thể, thì bạn có thể dùng method, nó có 2 giá trị thường dùng :
    - `'bfill'` : điền vào chỗ trống bằng giá trị liền sau
    - `'ffill'` : điền vào chỗ trống bằng giá trị liền trước

**Câu 4** : Từ `s3`, hãy tạo ra :
- `s3m` : thay `NaN` bằng giá trị trung bình của `s3`
- `s3b` : thay `NaN` bằng giá trị liền sau
- `s3f` : thay `NaN` bằng giá trị liền trước

In [125]:
# Câu 4
s3m = s3.fillna(value = s3.mean(), method = None)

s3b = s3.fillna(value = None, method = 'bfill')

s3f = s3.fillna(value = None, method = 'ffill')

**Câu 5** : Tính trung bình và độ lệch chuẩn của `s3`, `s3m`, `s3b`, `s3f`

In [110]:
# Câu 5
print(s3.mean())
print(s3m.mean())
print(s3b.mean())
print(s3f.mean())

print(s3.std())
print(s3m.std())
print(s3b.std())
print(s3f.std())

5140.287755102041
5140.287755102041
5128.550898203593
5146.477045908184
2893.076418352346
2861.0755943968097
2905.23045349318
2891.222588797351